{%  extends 'base.html' %}
{% load static  thumbnail %}
{% block title %} Courses {% endblock %}

{% block extra_css %}
<style>
    
.profile-card-4 {
    max-width: 300px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
}

.profile-card-4 img {
    transition: all 0.25s linear;
}

.profile-card-4 .profile-content {
    position: relative;
    padding: 15px;
    background-color: #FFF;
}

.profile-card-4 .profile-name {
    font-weight: bold;
    position: absolute;
    left: 0px;
    right: 0px;
    top: -70px;
    color: #FFF;
    font-size: 17px;
}

.profile-card-4 .profile-name p {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1.5px;
}

.profile-card-4 .profile-description {
    color: #777;
    font-size: 12px;
    padding: 10px;
}

.profile-card-4 .profile-overview {
    padding: 15px 0px;
}

.profile-card-4 .profile-overview p {
    font-size: 10px;
    font-weight: 600;
    color: #777;
}

.profile-card-4 .profile-overview h4 {
    color: #273751;
    font-weight: bold;
}

.profile-card-4 .profile-content::before {
    content: "";
    position: absolute;
    height: 20px;
    top: -10px;
    left: 0px;
    right: 0px;
    background-color: #FFF;
    z-index: 0;
    transform: skewY(3deg);
}

.profile-card-4:hover img {
    transform: rotate(5deg) scale(1.1, 1.1);
    filter: brightness(110%);
}
</style>
{% endblock %}

{% block content %}

<main id="main" class="main">
    <section class="section dashboard">
    <div class="container">
        <div class="pagetitle">
            <h1>Courses</h1>
            <nav>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'student-dasboard-url' %}">Dashboard</a></li>
                <li class="breadcrumb-item active">Courses</li>
              </ol>
            </nav>
          </div><!-- End Page Title -->
    

          <div class="row justify-content-center ">
            <div class="col-12 col-md-10 col-lg-7 text-center">
              <!-- Badges -->
              <nav class="nav justify-content-center ">
                <a
                  class="badge bg-primary text-white rounded-pill mr-1 mb-1"
                  href="#"
                  data-toggle="pill"
                  data-filter="*"
                  data-target="#portfolio"
                >
                  <span class="h6 text-uppercase  px-2">All</span>
                </a>
                <a
                  class="badge border border-primary text-primary rounded-pill mr-1 mb-1 mx-2"
                  href="#"
                  data-toggle="pill"
                  data-filter=".3card"
                  data-target="#portfolio"
                >
                  <span class="h6 text-uppercase  px-2">Ended</span>
                </a>
                <a
                  class="badge  border border-primary text-primary rounded-pill mr-1 mb-1 "
                  href="#"
                  data-toggle="pill"
                  data-filter=".2card"
                  data-target="#portfolio"
                >
                  <span class="h6 text-uppercase  px-2">Live</span>
                </a>
                <a
                  class="badge border border-primary text-primary rounded-pill mr-1 mb-1 mx-2"
                  href="#"
                  data-toggle="pill"
                  data-filter=".1card"
                  data-target="#portfolio"
                >
                  <span class="h6 text-uppercase  px-2">Upcoming</span>
                </a>

              </nav>
            </div>
          </div>

        <div class="row my-4 " id="portfolio" data-isotope='{"layoutMode": "fitRows"}'>
            {% for course in courses %}
                <div class="col-12 col-md-4 col-lg-4  align-items-stretch {{ course.course.course_status }}card">
                        <div class="card  ">
                            <div class="card-header p-0 border-0 ">
                                {% thumbnail course.course.course_img "x300" crop="center" as im %}
                                    <img src="{{ im.url }}" width="100%"  height="{{ im.height }}" class="card-img-top">
                                {% endthumbnail %}
                                
                            </div>
                            <div class="card-body p-3 bg-white">
                                <h5><a href="{% url 'student-courses-details-url' course.course.id %}">{{ course.course.name }}</a></h5>
                                <ul class="list-group  list-group-flush px-0 mx-0 my-4">
                                    <li class="list-group-item d-flex justify-content-between align-items-start px-0 border-0">
                                      <div >
                                        <div ><i class="bi bi-alarm me-1"></i> Start Date & Time</div>
                                      </div>
                                      {{ course.course.start_time }}
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-start px-0 border-0">
                                      <div >
                                        <div ><i class="bi bi-alarm me-1"></i> End Date & Time</div>
                                      </div>
                                      {{ course.course.end_time }}
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-start px-0 border-0">
                                      <div >
                                        <div ><i class="bi bi-alarm me-1"></i> Duration</div>
                                      </div>
                                      {{ course.course.total_duration }}
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-start px-0 border-0">
                                      <div >
                                        <div ><i class="bi bi-list-check me-1"></i> Flags</div>
                                      </div>
                                      {{ course.course.number_of_flags }}
                                    </li>
                                  </ul>
                            </div>
                        </div>
                </div>
            {% endfor %}
            
        </div>  
    </div>
    </section>  

    </main>


{% endblock %}
{% block extra_js %}
<script src="{% static 'assets/vendor/isotope/isotope.pkgd.min.js' %}"></script>
<script>
  
  var $row =  $('#portfolio').isotope({
  itemSelector: '.col-12',
  layoutMode: 'fitRows'
});
$("a[data-filter]").on("click", function(){
  $("a[data-filter]").removeClass("bg-primary").removeClass("text-white");
  $("a[data-filter]").addClass("border").addClass("border-primary").addClass("text-primary");
  $(this).addClass("bg-primary").addClass("text-white");
  if($(this).attr("data-filter") == "*"){
    $row.isotope({ filter: '*' });
  }else{
    $row.isotope({ filter: '' + $(this).attr("data-filter") });
  }  
});
</script>
{% endblock %}