{%  extends 'base.html' %}
{% load static attacker_flag %}
{% block title %} {{ course.name }} {% endblock %}

{% block extra_css %}


<style>
  .dashboard .activity .activity-item .activite-label{
    min-width: 0px;
  }
  
.lift-lg:focus, .lift-lg:hover {
  
  transform: translate3d(0,-5px,0);
}
.lift {
  -webkit-transition: box-shadow .25s ease,-webkit-transform .25s ease;
  transition: box-shadow .25s ease,-webkit-transform .25s ease;
  transition: box-shadow .25s ease,transform .25s ease;
  transition: box-shadow .25s ease,transform .25s ease,-webkit-transform .25s ease;
}
</style>
<style>
  .carousel-cell .card {

transition: all ease-in-out 0.4s;

}
.services .icon-box .icon {
margin-bottom: 10px;
}
.carousel-cell .card:hover {
transform: translateY(-10px);
}
.services .icon-box .icon i {
color: #47b2e4;
font-size: 36px;
transition: 0.3s;
}
.services .icon-box h4 {
font-weight: 500;
margin-bottom: 15px;
font-size: 24px;
}
.services .icon-box h4 a {
color: #37517e;
transition: ease-in-out 0.3s;
}
.services .icon-box:hover h4 a {
color: #47b2e4;
}

.flickity-slider {
  width: 20%;
}

.carousel-cell{
  margin-right: 10px;
  min-width: 250px;
}

.nav-tabs-bordered .nav-link.active{
  background-color: transparent;
}

</style>

<link rel="stylesheet" href="{% static 'assets/vendor/flickity/flickity.min.css' %}" />

{% endblock %}


{% block content %}


<main id="main" class="main">
    <section class="section dashboard">
        <div class="container">
            <div class="pagetitle">
                <h1>Course Details</h1>
                <nav>
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'student-dasboard-url' %}">Dashboard</a></li>
                    <li class="breadcrumb-item "><a href="{% url 'student-courses-url' %}">Courses</a></li>
                    <li class="breadcrumb-item active">{{ course.name }}</li>
                  </ol>
                </nav>
              </div><!-- End Page Title -->
        
            <div class="row">
                <div class="col-12 col-md-8">
                  
                  
                  <!-- card header summary -->
                    {% include 'master_app/student/cd_card_summary.html' %}
                  <!-- end : card header summary -->
                  
                  <!-- Flag Submission -->
                  {% attacker_flag course.id request.user.id as result  %}
                    {% if course.course_status == 2 %}
                      {% if course.get_network_flags %}
                        {% if result %}
                          {% include 'master_app/student/flag_submission.html' with flags=course.get_network_flags %}
                        {% endif %}
                      {% endif %}
                    {% endif %}
                  
                  <!-- End : Flag Submission -->


                </div>
                <div class="col-12 col-md-4">

                  <!-- Virtual Network Details -->
                  {% include 'master_app/student/cd_network.html' %}
                  <!-- End : Virtual Network Details -->


                  <!-- Challenges Details -->
                  <!-- End : Challenges Details -->

                  <!-- Results -->
                  {% comment %}
                    {% include 'master_app/student/cd_results.html' %}
                  {% endcomment %}
                  <!-- End : Results -->
                  
                  
                  
                  
                </div>
            </div>
            
            
        </div>
    </section>
</main>

<div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header " style="background-color: #012970;">
    <h5 class="offcanvas-title mx-auto text-white fw-bolder" id="offcanvasExampleLabel">Description</h5>
  </div>
  <div class="offcanvas-body bg-light">
      <div class="d-flex align-items-center mt-3 mb-2 ">
          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
            <img src="{% static 'assets/img/caac8772de14a769c0bfe95756bceebe.png' %}" width="60" alt="">
          </div>
          <div class="ps-3">
            <h4 class="mb-0">{{ course.get_virtual_network }}</h4>
            <span class=" small pt-1 fw-bold h5">{{ course.get_virtual_network.rating }} Rating</span>

          </div>
        </div>


    <div class="row justify-content-center my-3">
      <div class="col-12">
          <h6 class="">{{ course.get_virtual_network.description|safe }}</h6>
      </div>
    </div>
    
    
    
    
  </div>
</div>



{% comment %}
<!-- offcanvas: instructions -->
<div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasExample2" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header " style="background-color: #012970;">
    <h5 class="offcanvas-title mx-auto text-white fw-bolder" id="offcanvasExampleLabel">Instructions</h5>
  </div>
  <div class="offcanvas-body bg-light">
      <div class="d-flex align-items-center mt-3 mb-2 ">
          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
            <img src="{% static 'assets/img/caac8772de14a769c0bfe95756bceebe.png' %}" width="60" alt="">
          </div>
          <div class="ps-3">
            <h4 class="mb-0">{{ course.get_virtual_network }}</h4>
            <span class=" small pt-1 fw-bold h5">{{ course.get_virtual_network.rating }} Rating</span>

          </div>
        </div>

        
    <div class="row justify-content-center my-3">
      <div class="col-12">
          <h6 class="">{{ course.get_virtual_network.instructions|safe }}</h6>
      </div>
    </div>
    
    
    
    
  </div>
</div>
{% endcomment %}


{% endblock %}


{% block extra_js %}
<script src="{% static 'assets/vendor/flickity/flickity.pkgd.min.js' %}"></script>
<script>
  $(".ql-editor").attr('contenteditable', false);
  $(".ql-clipboard, .ql-tooltip").hide();



  </script>


<!-- flag submission carousel -->
<script>
  $('#main-carousel-last').flickity({
// options
cellAlign: 'left',
adaptiveHeight: true,
pageDots: false,
prevNextButtons: false,

freeScroll: true

});

</script>


<script>
  var myOffcanvas = document.getElementById('offcanvasflag_2')
myOffcanvas.addEventListener('shown.bs.offcanvas', function () {
  $("#id_flag_1").val("");
})

var myOffcanvas = document.getElementById('offcanvasflag_1')
myOffcanvas.addEventListener('shown.bs.offcanvas', function () {
  $("#id_flag_2").val("");
})

</script>


{% include 'master_app/student/flag_a_submission.html' %}



  {% endblock %}


{% comment %}
{% include 'master_app/student/flag_b_submission.html' %}
<div class="row">
  <div class="col-lg-12">
  <h3>Relevant Paths</h3>
  <p>This module progresses you towards the following Paths</p>
  <!-- Card with an image on left -->
<div class="card mb-3">
<div class="row g-0">
<div class="col-md-4">
  <img src="{% static 'assets/img/cyber_course.png' %}" class="img-fluid rounded-start h-100" alt="...">
</div>
<div class="col-md-8">
  <div class="card-body">
    <h5 class="card-title">Information Security Foundations</h5>
    <p class="mt-2 m-0">
      <span class="badge bg-success ">Easy</span>
      <span class="badge bg-dark ">170 Sections</span>
  </p>
      <p class="mt-2 small">
          Cubes Required: 200
          </p>
          <p class="mt-2">Information Security is a field with many specialized and highly technical disciplines. Job roles like Penetration Tester &amp; Information Security Analyst require a solid technical foundational understanding of core IT &amp; Information Security topics. </p>
  </div>
</div>
</div>
</div><!-- End Card with an image on left -->
  
  </div>
  </div>

  <ul>
    <li class="mb-1">
    <i class="fas fa-book text-primary" data-toggle="tooltip" data-title="Document"></i> Way Of Thinking
    </li>
    <li class="mb-1">
    <i class="fas fa-book text-primary" data-toggle="tooltip" data-title="Document"></i> Think Outside the Box
    </li>
    <li class="mb-1">
    <i class="fas fa-book text-primary" data-toggle="tooltip" data-title="Document"></i> Occam's Razor
    </li>
    <li class="mb-1">
    <i class="fas fa-book text-primary" data-toggle="tooltip" data-title="Document"></i> Talent
    </li>
    <li class="mb-1">
    <i class="fas fa-book text-primary" data-toggle="tooltip" data-title="Document"></i> Way Of Learning
    </li>
    <li class="mb-1">
    <i class="fas fa-book text-primary" data-toggle="tooltip" data-title="Document"></i> Learning Efficiency
    </li>
    <li class="mb-1">
    <i class="fas fa-book text-primary" data-toggle="tooltip" data-title="Document"></i> Learning Types
    </li>
     <li class="mb-1">
    <i class="fas fa-book text-primary" data-toggle="tooltip" data-title="Document"></i> The Brain
    </li>
    <li class="mb-1">
    <i class="fas fa-book text-primary" data-toggle="tooltip" data-title="Document"></i> The Will
    </li>
    <li class="mb-1">
    <i class="fas fa-book text-primary" data-toggle="tooltip" data-title="Document"></i> The Goal
    </li>
    <li class="mb-1">
    <i class="fas fa-book text-primary" data-toggle="tooltip" data-title="Document"></i> Decision Making
    </li>
    <li class="mb-1">
    <i class="fas fa-book text-primary" data-toggle="tooltip" data-title="Document"></i> Documentation
    </li>
    <li class="mb-1">
    <i class="fas fa-book text-primary" data-toggle="tooltip" data-title="Document"></i> Organization
    </li>
    <li class="mb-1">
    <i class="fas fa-book text-primary" data-toggle="tooltip" data-title="Document"></i> Focus
    </li>
    <li class="mb-1">
    <i class="fas fa-book text-primary" data-toggle="tooltip" data-title="Document"></i> Attention
    </li>
    <li class="mb-1">
    <i class="fas fa-book text-primary" data-toggle="tooltip" data-title="Document"></i> Comfort
    </li>
    <li class="mb-1">
    <i class="fas fa-book text-primary" data-toggle="tooltip" data-title="Document"></i> Obstacles
    </li>
    <li class="mb-1">
    <i class="fas fa-book text-primary" data-toggle="tooltip" data-title="Document"></i> Questioning
    </li>
    <li class="mb-1">
    <i class="fas fa-book text-primary" data-toggle="tooltip" data-title="Document"></i> Handling Frustration
    </li>
    <li class="mb-1">
    <i class="fas fa-cube text-success" data-toggle="tooltip" data-title="Interactive / Exercise"></i> Learning Progress
    </li>
    </ul>

    <div class="card p-0 bg-transparent shadow-none">
      <div class="card-body p-0">
        <div data-flickity='{"pageDots":false,"cellAlign": "left", "wrapAround": true, "imagesLoaded": true, "prevNextButtons": true}' class="flickity-viewport-visible py-3">
          
          {% if easy_challenges %}
          {% for ch in easy_challenges %}
          <div class="col-12 "  aria-hidden="true">
    
            <!-- Card -->
            <div class="card card-border " style="border-top-color: #B81D24;border-top-style: solid; border-top-width: 5px;">
              <div class="card-body text-center">

                <!-- Icon -->
                

                <!-- Text -->
                <h5 class=" mb-5 mt-3">
                  {% lorem %}
                </h5>

                <!-- Link -->
                <a href="{% url 'student-challenge-details-url' course.id ch.id  %}" style="color: #B81D24;">See Details</a>
                
              </div>
            </div>
            

          </div>
          {% endfor %}
          {% endif %}
          
          </div>
      </div>
    </div>

    
{% endcomment %}