
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
  

      
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'student-dasboard-url' %}">
          <!-- <i class="bi bi-file-earmark"></i> -->
          <!-- <i class="fa-regular fa-grid-horizontal me-2"></i> -->
          <i class="fa-solid fa-grip-vertical me-2"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->
      <li class="nav-heading">Pages</li>
  
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'student-profile-url' %}">
          <i class="fa-solid fa-user me-2"></i>
          <span>My Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->


      


      
      <li class="nav-item d-none">
        <a class="nav-link collapsed" href="{% url 'student-profile-url' %}">
          <i class="fa-solid fa-users me-2" ></i>
          <span>My Team</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'student-courses-url'  %}">
          <i class="fas fa-user-graduate me-2"></i>
          <span>Courses</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'student-machines-url' %}">
          <i class="fas fa-server me-2"></i>
          <span>Virtual Networks</span>
        </a>
      </li><!-- End Profile Page Nav -->

      {% comment %}

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Labs</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="#!">
              <i class="bi bi-circle"></i><span>Starting Point</span>
            </a>
          </li>
          <li>
            <a href="#!">
              <i class="bi bi-circle"></i><span>Tracks</span>
            </a>
          </li>
          <li>
            <a href="{% url 'student-machines-url' %}">
              <i class="bi bi-circle"></i><span>Machines</span>
            </a>
          </li>
          <li>
            <a href="#!">
              <i class="bi bi-circle"></i><span>Challenges</span>
            </a>
          </li>
          <li>
            <a href="#!">
              <i class="bi bi-circle"></i><span>Fortresses</span>
            </a>
          </li>
          <li>
            <a href="#!">
              <i class="bi bi-circle"></i><span>Endgames</span>
            </a>
          </li>
          <li>
            <a href="#!">
              <i class="bi bi-circle"></i><span>Pro Labs</span>
            </a>
          </li>
          
        </ul>
      </li><!-- End Labs Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="#!">
          <i class="fas fa-trophy me-2"></i>
          <span>Rankings</span>
        </a>
      </li><!-- End Rankings Page Nav -->


      <li class="nav-item">
        <a class="nav-link collapsed" href="#!">
          <i class="fa-solid fa-skull-crossbones me-2"></i>
          <span>Battlegrounds</span>
        </a>
      </li><!-- End Battlegrounds Page Nav -->


     {% endcomment %}
      

        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'user-logout' %}">
            <!-- <i class="bi bi-file-earmark"></i> -->
            <i class="fa-solid fa-right-from-bracket me-2"></i>
            <span>Sign Out</span>
          </a>
        </li><!-- End Logout Nav -->
     
    </ul>
  
  </aside><!-- End Sidebar-->
  