{%  extends 'base.html' %}
{% load static actionFlagConverter  %}
{% block title %} Activity Logs {% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'assets/vendor/grid/mermaid.min.css' %}"  />
<style>
#wrapper tr:hover td {
  color: rgb(255, 38, 0);
  background: rgba(252, 164, 50, 0.692);
}
</style>
<script src="{% static 'assets/vendor/loading-overlay/loadingoverlay.min.js' %}" ></script>
<script src="{% static 'assets/vendor/grid/gridjs.umd.js' %}" ></script>
{% endblock %}
{% block content %}


<main id="main" class="main"></main>



{% endblock %}

{% block extra_js %}



<!-- load logs by ajax script -->
<script>
  $(function(){
    $.LoadingOverlay("show"); 
    $.ajax({
              url : "{% url 'admin-activity-logs--load-url' %}",
              type  : "GET",
              processData: false,
              contentType: false,
              success : function(response){
              $("#main").html(
                response
              );
              setTimeout(function(){
                $.LoadingOverlay("hide");  
              }, 2500);
              },
              error : function(response){
                  $.LoadingOverlay("hide");  
                  alert("There is an error while loading page. Please try again after some time");
                
              }
            });



            setInterval(() => {
        $.LoadingOverlay("show");  
          var fd = new FormData();
          $.ajax({
            url : "{% url 'admin-activity-logs--load-url' %}",
            type  : "GET",
            data: fd,
            processData: false,
            contentType: false,
            success : function(response){
                // alert("successfull")
                $("#main").html(
              ""
            );
            $("#main").html(
              response
            );
            setInterval(function(){
              $.LoadingOverlay("hide");  
            }, 1500);
            },
            error : function(response){
                $.LoadingOverlay("hide");  
                alert("There is an error while loading page. Please try again after some time");
            }
          });
        }, 30000);
  });

</script>


{% endblock %}
