{%  extends 'base.html' %}
{% load static %}
{% block title %} Dashboard {% endblock %}



{% block content %}
<main id="main" class="main">
    <section class="section dashboard">
      <div class="container">
        <div class="pagetitle">
          <h1>Courses</h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'admin-dasboard-url' %}">Dashboard</a></li>
              <li class="breadcrumb-item active">Courses</li>
            </ol>
          </nav>
        </div>
        <div class="row">
          {% for course in courses %}
            {% include 'master_app/course_card.html' with cURL=course.get_admin_url %}
          {% endfor %}
        </div>
      </div>
    </section>
</main>
{% endblock %}

{% block extra_js %}

<script>
  $(".ql-editor").attr('contenteditable', false);
  $(".ql-clipboard, .ql-tooltip").hide();
</script>
{% endblock %}