{%  extends 'base.html' %}
{% load static %}
{% block title %} {{ course.name }} {% endblock %}


{% block extra_css %}


<link href="{% static 'assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
<link href="{% static 'assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
<script src="{% static 'assets/vendor/quill/quill.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'assets/vendor/flickity/flickity.min.css' %}">
<script src="{% static 'assets/vendor/flickity/flickity.pkgd.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'assets/vendor/loader/loader-double.css' %}"  />
<style>
.dashboard .activity .activity-item .activite-label{
  min-width: 0px;
}
.w-45 {
width: 45%!important;
}
</style>
{% endblock %}

{% block content %}


{% if not course.get_virtual_network.is_instance_created %}
  {% include 'master_app/admin/create_an_instance.html' %}
{% endif %}

<div class="loader loader-double "></div>
<main id="main" class="main">
<section class="section dashboard">
    <div class="container">
        <div class="pagetitle">
            <h1>Course Details</h1>
            <nav>
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'admin-dasboard-url' %}">Dashboard</a></li>
                  <li class="breadcrumb-item "><a href="{% url 'admin-course-list-url' %}">Courses</a></li>
                  <li class="breadcrumb-item active">{{ course.name }}</li>
                </ol>
              </nav>
        </div>
        {% if course.is_approved == "2" %}
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-primary " role="alert">
                        <strong>Instructor has sent request for approval</strong>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-12 col-md-8">
              {% include 'master_app/course_card_header.html' %}
            </div>
            <div class="col-12 col-md-4 mb-5">

                <!-- Virtual Network Details -->
                {% include 'master_app/admin/cd_networkList.html' %}
                <!-- End : Virtual Network Details -->
                
                <!-- Challenges List -->
                <!-- End : Challenges List -->


                 <!-- Attack Group Students List -->
                  {% include 'master_app/admin/cd_studentList.html' %}
                 <!-- End : Attack Group Students List -->

                 {% if course.course_type == "2" %}
                    <!-- Defense Group Students List -->
                    {% include 'master_app/admin/cd_students_2.html' %}
                    <!-- End : Defense Group Students List -->
                 {% endif %}
                
                <!-- Results -->
                {% if course.is_approved == "3" %}
                  {% include 'master_app/course_challenge_results.html' %}
                {% endif %}
                <!-- End : Results -->

            </div>
        </div>
    </div>
</section>
</main>

<!-- offcanvas -->
<div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
<div class="offcanvas-header " style="background-color: #012970;">
  <h5 class="offcanvas-title mx-auto text-white fw-bolder" id="offcanvasExampleLabel">Description</h5>
</div>
<div class="offcanvas-body bg-light">
    <div class="d-flex align-items-center mt-3 mb-2 ">
        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
          <img src="{% static 'assets/img/caac8772de14a769c0bfe95756bceebe.png' %}" width="60" alt="">
        </div>
        <div class="ps-3">
          <h4 class="mb-0">{{ course.get_virtual_network }}</h4>
          <span class=" small pt-1 fw-bold h5">{{ course.get_virtual_network.rating }} Rating</span>

        </div>
      </div>

      
  <div class="row justify-content-center my-3">
    <div class="col-12">
      {% comment %}
        <p>
          Follow instructions on the link below to get access to machine 
        </p>
        <a href="{% url 'how-to-connect-vpn' %}">How to get access through VPN</a>
      {% endcomment %}
      <p>
          {{ course.get_virtual_network.description|safe }}
      </p>
    </div>
  </div>
  
  
  
  
</div>
</div>

<!-- offcanvas: instructions -->
<div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasExample2" aria-labelledby="offcanvasExampleLabel">
<div class="offcanvas-header " style="background-color: #012970;">
  <h5 class="offcanvas-title mx-auto text-white fw-bolder" id="offcanvasExampleLabel">Instructions</h5>
</div>
<div class="offcanvas-body bg-light">
    <div class="d-flex align-items-center mt-3 mb-2 ">
        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
          <img src="{% static 'assets/img/caac8772de14a769c0bfe95756bceebe.png' %}" width="60" alt="">
        </div>
        <div class="ps-3">
          <h4 class="mb-0">{{ course.get_virtual_network }}</h4>
          <span class=" small pt-1 fw-bold h5">{{ course.get_virtual_network.rating }} Rating</span>

        </div>
      </div>

      
  <div class="row justify-content-center my-3">
    <div class="col-12">
        <h6 class="">{{ course.get_virtual_network.instructions|safe }}</h6>
    </div>
  </div>
  
  
  
  
</div>
</div>

{% endblock %}

{% block extra_js %}



<script>
$(function(){
window.dispatchEvent(new Event('resize'));
});
$(".ql-editor").attr('contenteditable', false);
$(".ql-clipboard, .ql-tooltip").hide();

if($("#course_approval_instructions").length){

$("#course_approval_instructions .ql-editor").attr('contenteditable', true);
$("#course_approval_instructions .ql-clipboard, #course_approval_instructions .ql-tooltip").hide();
$(function(){
    $("#identifier").on("submit",function(event) {
    $("#id_instructions").val($(".quill-editor-full").html());
    })
});
}


if($("#challengeEditor").length){


var quill = new Quill('#challengeEditor', {
theme: 'snow'
});


$("#challengeEditor .ql-editor").attr('contenteditable', true);
$("#challengeEditor .ql-clipboard, #challengeEditor .ql-tooltip").hide();
$(function(){
    $("#identifier_challenge").on("submit",function(event) {
    $("#identifier_challenge #id_description").val($("#challengeEditor").html());
    })
});
}

</script>



<!-- Course Approval Details Submissoin -->
<script>
  $(function(){
    $("#course_approval_btn").on("click", function(event){
      // console.debug("Approve Course Request");
      $(".loader-double").addClass("is-active");
      event.preventDefault();
      event.stopPropagation();
      
      $.ajax({
                url : $("#course_approval_btn").attr("data-href"),
                type  : "GET",
                processData: false,
                contentType: false,
                success : function(response){
                  new Noty({
        //  alert, success, error, warning, info
        timeout: 4000 ,
        type : "success",
        theme: 'sunset',
        // container : ".noty_layout",
        force : false,
        // layout: 'bottomLeft',
        text: '<i class="fas fa-check-circle"></i>&nbsp;Course has been approved.',
        animation: {
        open: function (promise) {
            var n = this;
            var Timeline = new mojs.Timeline();
            var body = new mojs.Html({
                el        : n.barDom,
                x         : {500: 0, delay: 0, duration: 500, easing: 'elastic.out'},
                isForce3d : true,
                onComplete: function () {
                    promise(function(resolve) {
                        resolve();
                    })
                }
            });

            var parent = new mojs.Shape({
                parent: n.barDom,
                width      : 200,
                height     : n.barDom.getBoundingClientRect().height,
                radius     : 0,
                x          : {[150]: -150},
                duration   : 1.2 * 500,
                isShowStart: true
            });

            n.barDom.style['overflow'] = 'visible';
            parent.el.style['overflow'] = 'hidden';

            var burst = new mojs.Burst({
                parent  : parent.el,
                count   : 10,
                top     : n.barDom.getBoundingClientRect().height + 75,
                degree  : 90,
                radius  : 75,
                angle   : {[-90]: 40},
                children: {
                    fill     : '#EBD761',
                    delay    : 'stagger(500, -50)',
                    radius   : 'rand(8, 25)',
                    direction: -1,
                    isSwirl  : true
                }
            });

            var fadeBurst = new mojs.Burst({
                parent  : parent.el,
                count   : 2,
                degree  : 0,
                angle   : 75,
                radius  : {0: 100},
                top     : '90%',
                children: {
                    fill     : '#EBD761',
                    pathScale: [.65, 1],
                    radius   : 'rand(12, 15)',
                    direction: [-1, 1],
                    delay    : .8 * 500,
                    isSwirl  : true
                }
            });

            Timeline.add(body, burst, fadeBurst, parent);
            Timeline.play();
        },
        close: function (promise) {
            var n = this;
            new mojs.Html({
                el        : n.barDom,
                x         : {0: 500, delay: 10, duration: 500, easing: 'cubic.out'},
                skewY     : {0: 10, delay: 10, duration: 500, easing: 'cubic.out'},
                isForce3d : true,
                onComplete: function () {
                    promise(function(resolve) {
                        resolve();
                    })
                }
            }).play();
        }
        }
    }).show(); 

    setTimeout(function(){
      location.reload();
    }, 2000);
                },
                error : function(response){
                  console.debug(response);
                  var text = "";
                  new Noty({
                    //  alert, success, error, warning, info
                    timeout: 5000 ,
                    type : "error",
                    theme: 'sunset',
                    // container : ".noty_layout",
                    force : false,
                    // layout: 'bottomLeft',
                    // text: '<i class="fas fa-exclamation-circle"></i>&nbsp;' + response["responseJSON"]["error"],
                    text: '<i class="fas fa-exclamation-circle"></i>&nbsp; ' +  response.responseJSON.error,
                    animation: {
                    open: function (promise) {
                        var n = this;
                        var Timeline = new mojs.Timeline();
                        var body = new mojs.Html({
                            el        : n.barDom,
                            x         : {500: 0, delay: 0, duration: 500, easing: 'elastic.out'},
                            isForce3d : true,
                            onComplete: function () {
                                promise(function(resolve) {
                                    resolve();
                                })
                            }
                        });

                        var parent = new mojs.Shape({
                            parent: n.barDom,
                            width      : 200,
                            height     : n.barDom.getBoundingClientRect().height,
                            radius     : 0,
                            x          : {[150]: -150},
                            duration   : 1.2 * 500,
                            isShowStart: true
                        });

                        n.barDom.style['overflow'] = 'visible';
                        parent.el.style['overflow'] = 'hidden';

                        var burst = new mojs.Burst({
                            parent  : parent.el,
                            count   : 10,
                            top     : n.barDom.getBoundingClientRect().height + 75,
                            degree  : 90,
                            radius  : 75,
                            angle   : {[-90]: 40},
                            children: {
                                fill     : '#EBD761',
                                delay    : 'stagger(500, -50)',
                                radius   : 'rand(8, 25)',
                                direction: -1,
                                isSwirl  : true
                            }
                        });

                        var fadeBurst = new mojs.Burst({
                            parent  : parent.el,
                            count   : 2,
                            degree  : 0,
                            angle   : 75,
                            radius  : {0: 100},
                            top     : '90%',
                            children: {
                                fill     : '#EBD761',
                                pathScale: [.65, 1],
                                radius   : 'rand(12, 15)',
                                direction: [-1, 1],
                                delay    : .8 * 500,
                                isSwirl  : true
                            }
                        });

                        Timeline.add(body, burst, fadeBurst, parent);
                        Timeline.play();
                    },
                    close: function (promise) {
                        var n = this;
                        new mojs.Html({
                            el        : n.barDom,
                            x         : {0: 500, delay: 10, duration: 500, easing: 'cubic.out'},
                            skewY     : {0: 10, delay: 10, duration: 500, easing: 'cubic.out'},
                            isForce3d : true,
                            onComplete: function () {
                                promise(function(resolve) {
                                    resolve();
                                })
                            }
                        }).play();
                    }
                    }
                }).show(); 
                  }
                ,complete : function(){
                  $(".loader-double").removeClass("is-active");
                }
              
              });



    });
  });
</script>


<!-- Admin : Send Request : Create an instance -->
{% include 'master_app/admin/create_instance_script.html' %}
<!-- END : Admin : Send Request : Create an instance -->





{% endblock %}

{% comment %}
{% if course.is_approved == "3" %}
                          <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                              <div class="fw-bold">Config File</div>
                            </div><p class="w-50"><a href="{{ course.get_virtual_network.config_file_url }}">{{ course.get_virtual_network.config_file_url }}</a></p>
                            </li>  
                              <li class="list-group-item  justify-content-between align-items-start">
                                <div class="accordion accordion-flush" id="accordionFlushExample">
                                  <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingOne">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                        Approved Details
                                      </button>
                                    </h2>
                                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                      <ul class="list-group list-group-flush">
                                        <li class="list-group-item d-flex justify-content-between align-items-start px-0">
                                          <div class=" me-auto">
                                            <div class="fw-bold">IP Address</div>
                                          </div><p class="w-50 text-end">{{ course.get_virtual_network.ip_address }}</p>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-start px-0">
                                          <div class=" me-auto">
                                            <div class="fw-bold">Network Topology Image</div>
                                          </div><p class="w-50 text-end">
                                            <a
    data-fancybox
    data-type="image"
    href="/media/{{ course.get_virtual_network.topology_image }}"
    >View <i class="fa-regular fa-eye ms-1"></i></a
  >
                                            </p>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-start px-0">
                                          <div class=" me-auto">
                                            <div class="fw-bold">Connection File</div>
                                          </div><p class="w-50 text-end"><a href="{{ course.get_virtual_network.ssh_file.path }}">Download <i class="fa-solid fa-download ms-1"></i></a></p>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-start px-0">
                                          <div class=" me-auto">
                                            <div class="fw-bold">Instructions</div>
                                          </div><p class="w-50 text-end"><a data-bs-toggle="offcanvas" href="#offcanvasExample2" role="button" aria-controls="offcanvasExample2">Read <i class="fa-solid fa-book ms-1"></i></a></p>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                  
                                </div>
                              </li>
                            {% endif %}
{% endcomment %}