{%  load student_total_flag_resolved student_total_points %}

<div class="col-12 ">
    <div class="card top-selling overflow-auto">


        <!-- filter --> 
        {% comment %}
        <div class="filter">
          <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <li><a class="dropdown-item" href="{% url 'admin-student-list-url' %}">All Students</a></li>
          </ul>
        </div>
        {% endcomment %}
        <!-- end: filter -->


      

      <div class="card-body pb-0">
        <h5 class="card-title">Students</h5>

        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Flags Resolved</th>
              <th scope="col">Points</th>
            </tr>
          </thead>
          <tbody>
            {% for student in students|slice:":10" %}
                <tr>
                <td>{{ student.username }}</td>
                <td class="">{% student_total_flag_resolved student.id  %}</td>
                <td class="">{% student_total_points student.id  %}</td>
                </tr>  
            {% endfor %}
          </tbody>
        </table>

      </div>

    </div>
  </div>



{% comment %}
<div class="filter">
    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
      <li class="dropdown-header text-start">
        <h6>Filter</h6>
      </li>

      <li><a class="dropdown-item" href="#">Today</a></li>
      <li><a class="dropdown-item" href="#">This Month</a></li>
      <li><a class="dropdown-item" href="#">This Year</a></li>
    </ul>
  </div>
{% endcomment %}