<div class="card pb-3">
    <div class="card-body">
      <h5 class="card-title">Active Course Progress</h5>

      <div data-flickity='{"pageDots":true,"cellAlign": "left", "wrapAround": true, "imagesLoaded": true, "prevNextButtons": false, "adaptiveHeight" : true}' class="flickity-viewport-visible">
      
      
        <div class="col-12 "  aria-hidden="true">
          <div class="row">
            <div class="col-7">
              <div class="card shadow-none bg-transparent mb-0 pb-0">
                <div class="card-body pb-0">
<!-- Column Chart -->
<div id="coursesProgress"></div>

<script>
document.addEventListener("DOMContentLoaded", () => {
new ApexCharts(document.querySelector("#coursesProgress"), {
series: [{
name: 'Points',
data: [44, 55, 57, 56, 61]
}],
chart: {
type: 'bar',
height: 250
},
plotOptions: {
bar: {
  horizontal: true,
  columnWidth: '40%',
  endingShape: 'rounded'
},
},
title: {
text: 'Privilege Linux Exploitation'
},
dataLabels: {
enabled: false
},
stroke: {
show: true,
width: 2,
colors: ['transparent']
},
xaxis: {
categories: ['Andy', 'Beth', 'Cindy', 'Dev', 'Ester'],
},
yaxis: {
// title: {
//   text: '$ (thousands)'
// }
},
fill: {
opacity: 1
},
tooltip: {
y: {
  formatter: function(val) {
    // return "$ " + val + " thousands"
    return val
  }
}
}
}).render();
});
</script>
<!-- End Column Chart -->  
</div>
              </div>
            </div>
            <div class="col-5">
              <div class="card shadow-none bg-transparent mb-0 pb-0">
                <div class="card-body pb-0">
                  
    
                  <!-- Pie Chart -->
                  <div id="pieChart"></div>
    
                  <script>
                    document.addEventListener("DOMContentLoaded", () => {
                      new ApexCharts(document.querySelector("#pieChart"), {
                        series: [44, 55, 13, 43, 22],
                        chart: {
                          height: 350,
                          type: 'pie',
                          toolbar: {
                            show: true
                          },
                          
                          
                        },
                        legend: {
position: 'bottom',
},
                        labels: ['Andy', 'Beth', 'Cindy', 'Dev', 'Ester']
                      }).render();
                    });
                  </script>
                  <!-- End Pie Chart -->
    
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <div class="col-12 "  aria-hidden="true">
          <div class="card shadow-none bg-transparent mb-0 pb-0">
            <div class="card-body pb-0">
              <div class="row">
                <div class="col-7">
<!-- Column Chart -->
<div id="coursesProgress2"></div>

<script>
document.addEventListener("DOMContentLoaded", () => {
new ApexCharts(document.querySelector("#coursesProgress2"), {
series: [{
name: 'Points',
data: [52, 66, 78, 79, 88, 99]
},
],
chart: {
type: 'bar',
height: 250
},
plotOptions: {
bar: {
horizontal: true,
columnWidth: '40%',
endingShape: 'rounded'
},
},
title: {
text: 'Windows Exploitation'
},
dataLabels: {
enabled: false
},
stroke: {
show: true,
width: 2,
colors: ['transparent']
},
xaxis: {
categories: ['James', 'Anthony', 'Johnson', 'Wise', 'Ruiz', 'Rodgers'],
},
yaxis: {
// title: {
//   text: '$ (thousands)'
// }
},
fill: {
opacity: 1,
// colors : ['#F44336', '#9C27B0'],
},
tooltip: {
y: {
formatter: function(val) {
// return "$ " + val + " thousands"
return val
}
}
}
}).render();
});
</script>
<!-- End Column Chart --> 
                </div>
                <div class="col-5">
                  <div class="card shadow-none bg-transparent mb-0 pb-0">
                    <div class="card-body pb-0">
                      
        
                      <!-- Pie Chart -->
                      <div id="pieChart2"></div>
        
                      <script>
                        document.addEventListener("DOMContentLoaded", () => {
                          new ApexCharts(document.querySelector("#pieChart2"), {
                            series: [44, 55, 13, 43, 22],
                            chart: {
                              height: 350,
                              type: 'pie',
                              toolbar: {
                                show: true
                              },
                              
                              
                            },
                            legend: {
  position: 'bottom',
},
                            labels: ['James', 'Anthony', 'Johnson', 'Wise', 'Ruiz', 'Rodgers']
                          }).render();
                        });
                      </script>
                      <!-- End Pie Chart -->
        
                    </div>
                  </div>
                </div>
              </div>

</div>
            </div>
        </div>
        </div> 
      
        

      

    </div>
  </div>