
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'admin-dasboard-url' %}">
            <i class="fa-solid fa-grip-vertical me-2"></i>
            <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#user-nav" data-bs-toggle="collapse" href="#">
            <i class="fa-solid fa-user me-2"></i><span>User Management</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="user-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
              <a href="{% url 'admin-instructor-new-url' %}">
                <i class="bi bi-circle"></i><span>Create New Instrutor</span>
              </a>
            </li>
            <li>
              <a href="{% url 'admin-student-new-url' %}">
                <i class="bi bi-circle"></i><span>Create New Student</span>
              </a>
            </li>
            
            <li>
              <a href="{% url 'admin-instructors-list-url' %}">
                <i class="bi bi-circle"></i><span>All Instructor</span>
              </a>
            </li>

            <li>
              <a href="{% url 'admin-student-list-url' %}">
                <i class="bi bi-circle"></i><span>All Students</span>
              </a>
            </li>

            
            
            
          </ul>
        </li><!-- End Components Nav -->



        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
              <i class="bi bi-menu-button-wide"></i><span>Course Management</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
              <li>
                <a href="{% url 'admin-course-new-url' %}">
                  <i class="bi bi-circle"></i><span>Create New Course</span>
                </a>
              </li>
              <li>
                <a href="#!">
                  <i class="bi bi-circle"></i><span>Add Challenge</span>
                </a>
              </li>
              <li>
                <a href="#!">
                  <i class="bi bi-circle"></i><span>Add Student</span>
                </a>
              </li>
              <li>
                <a href="#!">
                  <i class="bi bi-circle"></i><span>Add Network</span>
                </a>
              </li>
              <li>
                <a href="{% url 'admin-course-list-url' %}">
                  <i class="bi bi-circle"></i><span>All Courses</span>
                </a>
              </li>
              
              
            </ul>
        </li><!-- End Courses Management Nav -->

        
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#student-nav" data-bs-toggle="collapse" href="#">
            <i class="fa-solid fa-graduation-cap me-2"></i><span>Student Management</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="student-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
              <a href="#!">
                <i class="bi bi-circle"></i><span>Create New Student</span>
              </a>
            </li>
            
            <li>
              <a href="{% url 'admin-student-list-url' %}">
                <i class="bi bi-circle"></i><span>All Students</span>
              </a>
            </li>

            
            
            
          </ul>
        </li><!-- End Components Nav -->
      
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#networks-nav" data-bs-toggle="collapse" href="#">
            <i class="fas fa-server me-2"></i><span>Virtual Networks</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="networks-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
              <a href="{% url 'admin-virtual-network-create-url' %}">
                <i class="bi bi-circle"></i><span>Add New Network</span>
              </a>
            </li>
            <li>
              <a href="{% url 'admin-virtual-network-url' %}">
                <i class="bi bi-circle"></i><span>All Virtual Networks</span>
              </a>
            </li>
            
          </ul>
        </li><!-- End Virtual Networks Nav -->


    
      

        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'user-logout' %}">
            <!-- <i class="bi bi-file-earmark"></i> -->
            <i class="fa-solid fa-right-from-bracket me-2"></i>
            <span>Sign Out</span>
          </a>
        </li><!-- End Logout Nav -->
      

    
        
        
    </ul>
  
  </aside><!-- End Sidebar-->
  