{%  extends 'base.html' %}
{% load static %}
{% block title %} Virtual Network Details {% endblock %}

{% block extra_css %}
{% endblock %}


{% block content %}

<main id="main" class="main">
    


      <section class="section dashboard">
        <div class="container">
          <div class="pagetitle">
            <h1>Virtual Network Details</h1>
            <nav>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{%url 'admin-dasboard-url' %}">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="{% url 'admin-virtual-network-url' %}">Virtual Networks</a></li>
                <li class="breadcrumb-item active">Virtual Network Details</li>
              </ol>
            </nav>
          </div><!-- End Page Title -->
          {% include 'master_app/admin/network_details.html' %}
        </div>
      </section>

</main>

{% endblock %}