{% load static %} 
 
 <!-- ======= About Us Section ======= -->
 <section id="about" class="about bg-white">
    <div class="container" id="section_about">

      <div class="section-title">
        <h2>About Us</h2>
      </div>
      <div class="row content justify-content-center mb-5">
        <div class="col-12 col-md-8 col-lg-7">
          <p class="text-center  fw-bolder">
            Our mission is to create a safer cyber world by making cybersecurity training fun and accessible to everyone. No boundaries, no limitations. Everyone can join and start learning and practicing cybersecurity, from theory to action.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-4 col-md-4 d-flex align-items-stretch"  >
          <div class="icon-box">
            
            <h4 class="text-center" style="color: #37517e;">Community</h4>
            <p class="text-center">Make HTB the world’s largest, most empowering, and inclusive hacking community.</p>
          </div>
        </div>

        <div class="col-xl-4 col-md-4 d-flex align-items-stretch mt-4 mt-md-0"  >
          <div class="icon-box">
            
            <h4 class="text-center" style="color: #37517e;">Gamification</h4>
            <p class="text-center">Make hacking the new gaming. Gamification and meaningful engagement at their best.</p>
          </div>
        </div>

        <div class="col-xl-4 col-md-4 d-flex align-items-stretch mt-4 mt-xl-0"  >
          <div class="icon-box">
            
            <h4 class="text-center" style="color: #37517e;">Content</h4>
            <p class="text-center">Provide the most cutting-edge, curated, and sophisticated hacking content out there.</p>
          </div>
        </div>


      </div>


    </div>
  </section><!-- End About Us Section -->
