{%  extends 'base.html' %}
{% load static %}
{% block title %} Contact Us {% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'assets/vendor/themify/css/themify-icons.css' %}">

<style>
    #main {
  margin-top: 0;
  padding: 0;
}

    .section-title {
  margin-bottom: 40px;
}
.form-group textarea.form-control {
  height: 100px;
}
.form-group label {
  font-size: 15px;
  font-weight: bold;
}
label {
  display: inline-block;
  margin-bottom: .5rem;
}
    .form-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}
.form-row > .col, .form-row > [class*="col-"] {
  padding-right: 5px;
  padding-left: 5px;
}
.form-group {
  margin-bottom: 1rem;
}
    .form-group .form-control {
  height: 40px;
  background: transparent;
  border: 0;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
  border-bottom: 1px solid #E2E2E2;
  border-radius: 0;
  padding: 10px 0;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-group .form-control:focus {
  outline: 0;
  border-color: #012970;
  box-shadow: none;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
.address-block li {
  margin-bottom: 15px;
}
.address-block li i {
  font-size: 24px;
}
.bg-1 {
  background: url("{% static 'assets/img/section-bg5.jpg' %}") no-repeat 50% 50%;
    background-size: auto;
  background-size: cover;
}
.page-title {
  padding: 170px 0px 20px 0px;
  position: relative;
}
.page-title .block h1 {
  color: #fff;
}
.page-title .breadcumb-nav {
  margin-top: 60px;
  padding-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.06);
}
.list-inline {
  padding-left: 0;
  list-style: none;
}
</style>
{% endblock extra_css %}

{% block content %}

<main id="main" class="main">
    <section class="page-title bg-1">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="block text-center">
                <span class="text-white">Contact Us</span>
                <h1 class="text-capitalize mb-5 text-lg fw-bolder">Get in Touch</h1>
      
                <ul class="list-inline breadcumb-nav">
                  <li class="list-inline-item"><a href="{% url 'master_index' %}" class="text-white">Home</a></li>
                  <li class="list-inline-item"><span class="text-white">/</span></li>
                  <li class="list-inline-item"><a href="#" class="text-white-50">Contact Us</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </section>
    <section class="section dashboard">
        <div class="container">    
            <div class="row justify-content-center my-5">
                <div class="col-12 col-md-7 ">
                    <div class="p-5 shadow rounded card">
                        <h2 class="section-title">Got Any Questions</h2>
                        <form method="POST" action="{% url 'contact_url' %}">
                            <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="fname">First Name</label>
                                <input type="text" class="form-control" id="fname" name="fname" placeholder="Your First Name" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="lname">Last Name</label>
                                <input type="text" class="form-control" id="lname" name="lname" placeholder="Your Last Name">
                            </div>
                            </div>
                            <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Your Email Address"
                                required>
                            </div>
                            <div class="form-group">
                            <label for="reason">Reason of Contact</label>
                            <select id="reason" class="form-control custom-select" name="reason" required>
                                <option selected disabled>Choose Your Reason</option>
                                <option value="business">Business</option>
                                <option value="ticket">Ticket</option>
                                <option value="project">Project</option>
                            </select>
                            </div>
                            <div class="form-group">
                            <label for="message">Start Writing From Here</label>
                            <textarea name="message" id="message" class="form-control" placeholder="Your Text here ..."></textarea>
                            </div>
                            
                            <div class="d-grid gap-2 mt-3">
                            <button type="submit" class="btn btn-primary " id="login_submit_btn" tabindex="3">Send</button>
                            </div>
                        </form>
                        </div>
                </div>
                <div class="col-12 col-lg-5">
                    <div class="card mt-5 mt-lg-0 p-5">
                        <ul class="list-unstyled">
                        <li>
                            <h5 class="fw-bolder fs-3 mb-1">Call Us</h5>
                            <p>+88 01672 506 744</p>
                        </li>
                        <li>
                            <h5 class="fw-bolder fs-3 mb-1">Email Us</h5>
                            <p>contact@mail.com</p>
                        </li>
                        <li>
                            <h5 class="fw-bolder fs-3 mb-1">Location Map</h5>
                            <p>North Main Street,Brooklyn Australia</p>
                        </li>
                        </ul>

                        <ul class="social-icons list-inline mt-3">
                        <li class="list-inline-item">
                            <a href="#!"><i class="fab fa-facebook-f mx-2"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!"><i class="fab fa-twitter mx-2"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!"><i class="fab fa-linkedin-in mx-2"></i></a>
                        </li>
                        </ul>
                    </div>
                    </div>
            </div>
            <div class="row justify-content-center my-5">
                <div class="col-lg-4 col-md-6">
                    <div class="contact-content pl-lg-5 mt-5 mt-lg-0 mb-5 mb-lg-0">
                    <h4 class="mb-4 fw-bolder">Corporate Office</h4>
            
                    <ul class="address-block list-unstyled">
                        <li>
                        <i class="ti-location-pin me-3"></i>North Main Street,Brooklyn Australia
                        </li>
                        <li>
                        <i class="ti-email me-3"></i>Email: contact@mail.com
                        </li>
                        <li>
                        <i class="ti-mobile me-3"></i>Phone:+88 01672 506 744
                        </li>
                    </ul>
                    </div>
                </div>
            
                <div class="col-lg-4 col-md-6">
                    <div class="contact-info mb-5 mb-lg-0 mt-md-5 mt-lg-0">
                    <h4 class="mb-4 fw-bolder">USA Location</h4>
                    <ul class="address-block list-unstyled">
                        <li>
                        <i class="ti-location-pin me-3"></i>North Main Street,Brooklyn Australia
                        </li>
                        <li>
                        <i class="ti-email me-3"></i>Email: contact@mail.com
                        </li>
                        <li>
                        <i class="ti-mobile me-3"></i>Phone:+88 01672 506 744
                        </li>
                    </ul>
                    </div>
                </div>
            
                <div class="col-lg-4 col-md-6">
                    <div class="contact-info ">
                    <h4 class="mb-4 fw-bolder">Europe</h4>
                    <ul class="address-block list-unstyled">
                        <li>
                        <i class="ti-location-pin me-3"></i>North Main Street,Brooklyn Australia
                        </li>
                        <li>
                        <i class="ti-email me-3"></i>Email: contact@mail.com
                        </li>
                        <li>
                        <i class="ti-mobile me-3"></i>Phone:+88 01672 506 744
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'master_app/footer_section.html' %}
</main>
{% endblock %}

