{% load static %}

<div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-5">
        <img src="{% static 'assets/img/Ad.webp' %}" class="img-fluid rounded-start h-100" alt="...">
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <h5 class="card-title d-flex justify-content-between align-items-center mb-0">{{ course.name }} 
            {% if course.is_approved == "1" %}
        <span class="badge bg-warning text-white">Pending</span>
      {% elif course.is_approved == "2" %}
        <span class="badge bg-primary text-white">Sent Admin for Approval</span>
      {% elif course.is_approved == "3" %}
        <span class="badge bg-success text-white">Approved</span>
      {% elif course.is_approved == "4"  %}
        <span class="badge bg-danger text-white">Rejected</span>
      {% endif %}</h5> 

      <ul class="list-group  list-group-flush px-0 mx-0 ">
        <li class="list-group-item d-flex justify-content-between align-items-start px-0 border-0">
          <div >
            <div ><i class="bi bi-alarm me-1"></i> Start Date & Time</div>
          </div>
          {{ course.start_time }}
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start px-0 border-0">
          <div >
            <div ><i class="bi bi-alarm me-1"></i> End Date & Time</div>
          </div>
          {{ course.end_time }}
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start px-0 border-0">
          <div >
            <div ><i class="bi bi-alarm me-1"></i> Duration</div>
          </div>
          {{ course.total_duration }}
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start px-0 border-0" >
          <div >
            <div ><i class="bi bi-list-check me-1"></i> Challenges</div>
          </div>
          {{ course.total_challenges }}
        </li>
      </ul>
          <p class="my-2">Created By <strong class="text-primary fw-bolder">{{ course.instructor.username }}</strong></p>
        </div>
      </div>
    </div>
    
  </div>


  <div class="card">
    <div class="card-body p-3">
      <h3>Summary</h3>
      {{ course.description|safe }}
    </div>
  </div>