{%  extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %}
{% block extra_css %}

<link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">


{% endblock extra_css %}

<style>
    #main {
  
  padding: 0;
  
}
    section {
  padding: 60px 0;
  overflow: hidden;
}
    /* #hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
} */
.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #37517e;
}
.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}
.about .content ul {
  list-style: none;
  padding: 0;
}
.about .content ul li + li {
  margin-top: 10px;
}
.about .content ul li {
  padding-left: 28px;
  position: relative;
}

.about .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #47b2e4;
  line-height: 1;
}
/* [class^="ri-"], [class*=" ri-"] {
  font-family: 'remixicon' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
</style>


<style>
  
  img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
  }
  img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
  }
  @-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
  }
  @keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
  }
  
  </style>



<main id="main" class="main">
    
    
      {% include 'master_app/hero.html' %}
      
      {% include 'master_app/about_us_section.html' %}
      {% include 'master_app/faq_section.html' %}
      {% include 'master_app/cta_section.html' %}
      {% include 'master_app/services_section.html' %}
      {% include 'master_app/footer_section.html' %}


</main>



{% endblock %}