{%  extends 'master_app/base.html' %}
{% load static %}
{% block title %} Sign In  {% endblock %}

{% block extra_css %}
    <!-- Notification CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/notification/noty.css' %}" crossorigin="anonymous" referrerpolicy="no-referrer" />


<style>
  #particles-js {
  background-color: #002D62;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

</style>

    <!-- particles.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js" integrity="sha512-Kef5sc7gfTacR7TZKelcrRs15ipf7+t+n7Zh6mKNJbmW+/RRdCW9nwfLn4YX0s2nO6Kv5Y2ChqgIakaC6PW09A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% endblock extra_css %}
{% block content %}
<div id="particles-js"></div>
<main id="main" class="main">
    <section class="section dashboard">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card shadow-none" >
                    <div class="card-header  border-0">
                        <h1 class="card-title fw-bolder text-center fs-2"><img src="{% static 'assets/img/favicon.png' %}" alt=""> Cyber Range</h1>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title ">Sign in to your account</h5>
                        <form class="row g-3 needs-validation" novalidate  action="{% url 'user-login-ajax' %}"  id="login_form" method="POST"> 
                            {% csrf_token %}
                            <div class="col-md-12 mb-3">
                                <div class="form-floating">
                                  <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Email" autofocus autocapitalize="none" autocomplete="off" maxlength="255" required autofocus="on" tabindex="1">
                                  <label for="id_username">Email address</label>
                                  <div class="invalid-feedback">
                                    Please choose a valid email address.
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-12 mb-3">
                                <div class="form-floating">
                                  <input type="password" name="password" class="form-control" autocomplete="current-password" required id="id_password" placeholder="Password" tabindex="2">
                                  <label for="id_password">Password</label>
                                  <div class="invalid-feedback">
                                    Please provide password.
                                  </div>
                                </div>
                              </div>
                              <div class="d-grid gap-2 mt-3">
                                <input type="hidden" name="next" value="{{ request.path }}" />
                                <button type="submit" class="btn btn-primary " id="login_submit_btn" tabindex="3">Sign In</button>
                              </div>
                            
                            {% comment %}
                            <div class="">
                              <div class="row justify-content-center text-center">
                                  <div class="col">
                                    <p class="card-text">Don't have an account <a href="#!" target="_self" class="card-link text-watercourse text-decoration-none" tabindex="4">Register</a>
                                    </p>
                                  </div>
                              </div>
                            </div>
                            <div class="">
                              <div class="row justify-content-center text-center">
                                  <div class="col">
                                    <a href="#!" target="_self" class="card-link text-watercourse text-decoration-none" tabindex="5">Forgot Pasword ? </a>
                                  </div>
                              </div>
                            </div>
                            {% endcomment %}
                          </form>
                    </div>
                  </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}
{% block extra_js %}

      <!-- Bounch js -->
      <script src="{% static 'assets/vendor/notification/bounce.js' %}"  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      
      <!-- mo.js -->
      <script src="{% static 'assets/vendor/notification/mo.js' %}" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      
      <!-- Notification js -->
      <script src="{% static 'assets/vendor/notification/noty.js' %}"  crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script type="text/javascript" src="{% static 'assets/js/login.js' %}"> </script>

<script>
  $(function() {
  particlesJS("particles-js", {
    "particles": {
      "number": {
        "value": 100,
        "density": {
          "enable": true,
          "value_area": 800
        }
      },
      "color": {
        "value": "#ffffff"
      },
      "shape": {
        "type": "circle",
        "stroke": {
          "width": 0,
          "color": "#000000"
        },
        "polygon": {
          "nb_sides": 5
        },
        "image": {
          "src": "img/github.svg",
          "width": 100,
          "height": 100
        }
      },
      "opacity": {
        "value": 0.5,
        "random": false,
        "anim": {
          "enable": false,
          "speed": 1,
          "opacity_min": 0.1,
          "sync": false
        }
      },
      "size": {
        "value": 3,
        "random": true,
        "anim": {
          "enable": false,
          "speed": 40,
          "size_min": 0.1,
          "sync": false
        }
      },
      "line_linked": {
        "enable": true,
        "distance": 150,
        "color": "#ffffff",
        "opacity": 0.4,
        "width": 1
      },
      "move": {
        "enable": true,
        "speed": 6,
        "direction": "none",
        "random": false,
        "straight": false,
        "out_mode": "out",
        "bounce": false,
        "attract": {
          "enable": false,
          "rotateX": 600,
          "rotateY": 1200
        }
      }
    },
    "interactivity": {
      "detect_on": "canvas",
      "events": {
        "onhover": {
          "enable": true,
          "mode": "repulse"
        },
        "onclick": {
          "enable": true,
          "mode": "push"
        },
        "resize": true
      },
      "modes": {
        "grab": {
          "distance": 400,
          "line_linked": {
            "opacity": 1
          }
        },
        "bubble": {
          "distance": 400,
          "size": 40,
          "duration": 2,
          "opacity": 4,
          "speed": 3
        },
        "repulse": {
          "distance": 200,
          "duration": 0.4
        },
        "push": {
          "particles_nb": 4
        },
        "remove": {
          "particles_nb": 2
        }
      }
    },
    "retina_detect": true
  });
  var update;
  update = function() {
    if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {}
    requestAnimationFrame(update);
  };
  requestAnimationFrame(update);
});

</script>
{% endblock  %}