{% load static %}

<!-- Vendor JS Files -->

{% comment %}

<script src="{% static 'assets/vendor/quill/quill.min.js' %}"></script>
{% endcomment %}


<script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
<script src="{% static 'assets/vendor/apexcharts/apexcharts.min.js' %}"></script>

<script src="{% static 'assets/vendor/chart.js/chart.min.js' %}"></script>
<script src="{% static 'assets/vendor/echarts/echarts.min.js' %}"></script>
<script src="{% static 'assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
<script src="{% static 'assets/vendor/tinymce/tinymce.min.js' %}"></script>

<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'assets/js/main.js' %}"></script>



<script src="{% static 'assets/vendor/ripple/ripple.min.js' %}"  ></script>



     <!-- font-awesome js -->
     <script src="{% static 'assets/vendor/fontawesome/all.min.js' %}"  ></script>




      <!-- Bounch js -->
      <script src="{% static 'assets/vendor/notification/bounce.js' %}"  ></script>
      
      <!-- mo.js -->
      <script src="{% static 'assets/vendor/notification/mo.js' %}" ></script>
      
      <!-- Notification js -->
      <script src="{% static 'assets/vendor/notification/noty.js' %}"  ></script>



<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  AOS.init();


  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})();

$.ripple(".btn", {
	debug: false, // Turn Ripple.js logging on/off
	on: 'mousedown', // The event to trigger a ripple effect

	opacity: 0.4, // The opacity of the ripple
	color: "auto", // Set the background color. If set to "auto", it will use the text color
	multi: false, // Allow multiple ripples per element

	duration: 0.5, // The duration of the ripple

	// Filter function for modifying the speed of the ripple
	rate: function(pxPerSecond) {
        return pxPerSecond;
    },

	easing: 'linear' // The CSS3 easing function of the ripple
});
</script>



{% if request.user.is_authenticated %}
<script>
  $(function(){
    $("a.create-vpn").on("click", function(event){
      event.preventDefault();
      event.stopPropagation();
      $.ajax({
        url : $("a.create-vpn").attr("href"),
        type  : "GET",
        success : function(response){
          // console.debug(response);
          // $("a.create-vpn").removeClass("create-vpn").html("Download VPN").attr("href" , response["text"]);
          window.location.reload();
        },
        error : function(response){
          alert(response["responseJSON"]["error"]);
        }
      });
    });
    
  });
</script>
{% endif %}