{% load static %}

<style>
.services{
  background-color: #f3f5fa;
}

    .services .icon-box {
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  padding: 50px 30px;
  transition: all ease-in-out 0.4s;
  background: #fff;
}
.services .icon-box .icon {
  margin-bottom: 10px;
}
.services .icon-box:hover {
  transform: translateY(-10px);
}
.services .icon-box .icon i {
  color: #47b2e4;
  font-size: 36px;
  transition: 0.3s;
}
.services .icon-box h4 {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 24px;
}
.services .icon-box h4 a {
  color: #37517e;
  transition: ease-in-out 0.3s;
}
.services .icon-box:hover h4 a {
  color: #47b2e4;
}
</style>


<!-- ======= Services Section ======= -->
<section id="services" class="services ">
    <div class="container" id="section_services" data-aos="fade-up" data-aos-duration="1000">

      <div class="section-title">
        <h2>Services</h2>
        <p>A portfolio of cybersecurity training services and products, constantly enriched to help our users augment their skills in the most engaging and rewarding way possible.</p>
      </div>

      <div class="row">
        <div class="col-xl-4 col-md-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100" data-aos-duration="1000" >
          <div class="icon-box">
            <div class="icon text-center pb-3 "><img src="{% static 'assets/img/ic-menu-ctf.svg' %}" alt="" width="50"></div>
            <h4 class="text-center"><a href="">Capture The Flag</a></h4>
            <p class="text-center">Hacking challenges that will enable you to compete with others and advance your skills. From Jeopardy-style to Full Pwn and AD, we have it all!</p>
          </div>
        </div>

        <div class="col-xl-4 col-md-4 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="100"  data-aos-duration="1000">
          <div class="icon-box">
            <div class="icon text-center pb-3"><img src="{% static 'assets/img/ic-menu-battlegrounds.svg' %}" alt="" width="50"></div>
            <h4 class="text-center"><a href="">Battlegrounds</a></h4>
            <p class="text-center">Real-time multiplayer hacking games! Invite friends, choose any of the different Game Modes, form a team, and join the battlefield!</p>
          </div>
        </div>

        <div class="col-xl-4 col-md-4 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="100" data-aos-duration="1000"  >
          <div class="icon-box">
            <div class="icon text-center pb-3"><img src="{% static 'assets/img/ic-menu-careers.svg' %}" alt="" width="50"></div>
            <h4 class="text-center"><a href="">InfoSec Careers</a></h4>
            <p class="text-center">Looking for a new job in cybersecurity? Visit Careers. Set up your preferences, see all the available job openings, apply, nail the interview, get hired.</p>
          </div>
        </div>


      </div>

    </div>
  </section><!-- End Services Section -->
