{% load i18n static %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
{% if not is_popup and is_nav_sidebar_enabled %}
{% endif %}
{% block extrastyle %}{% endblock %}
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}">{% endif %}
{% block extrahead %}{% endblock %}
{% block responsive %}
    {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive_rtl.css" %}">{% endif %}
{% endblock %}


{% include 'master_app/style.html' %}




<style>
  textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus,
.was-validated .form-control:valid,
.was-validated .form-control:invalid:focus {
box-shadow: inset 0 -1px 0 #ddd;
}
</style>

{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}

<style>
    /* #main{
        margin-top: 0px;
    } */
</style>

</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %} toggle-sidebar"
  data-admin-utc-offset="{% now "Z" %}">



    {% if not is_popup %}

    {% comment %}
    <!-- Header -->
    <div id="header">
        <div id="branding">
        {% block branding %}{% endblock %}
        </div>
        {% block usertools %}
        {% if has_permission %}
        <div id="user-tools">
            {% block welcome-msg %}
                {% translate 'Welcome,' %}
                <strong>{% firstof user.get_short_name user.get_username %}</strong>.
            {% endblock %}
            {% block userlinks %}
                {% if site_url %}
                    <a href="{{ site_url }}">{% translate 'View site' %}</a> /
                {% endif %}
                {% if user.is_active and user.is_staff %}
                    {% url 'django-admindocs-docroot' as docsroot %}
                    {% if docsroot %}
                        <a href="{{ docsroot }}">{% translate 'Documentation' %}</a> /
                    {% endif %}
                {% endif %}
                {% if user.has_usable_password %}
                <a href="{% url 'admin:password_change' %}">{% translate 'Change password' %}</a> /
                {% endif %}
                <a href="{% url 'admin:logout' %}">{% translate 'Log out' %}</a>
            {% endblock %}
        </div>
        {% endif %}
        {% endblock %}
        {% block nav-global %}{% endblock %}
    </div>
    <!-- END Header -->
    
    {% endcomment %}


    {% include 'admin/header.html' %}
    {% include 'admin/sidebar.html' %}

    {% endif %}


    <main id="main" class="main" >
        {% comment %}
        {% if not is_popup %}
        <div class="pagetitle">
            <h1>{% if title %} {{ title }}{% endif %}</h1>
            {% block breadcrumbs %}
            <nav>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'admin:index' %}">{% translate 'Home' %}</a></li>
                <li class="breadcrumb-item active">{% if title %} {{ title }}{% endif %}</li>
              </ol>
            </nav>
            {% endblock %}
          </div><!-- End Page Title -->
          {% endif %}

          {% endcomment %}


        <section class="section dashboard">
            <div class="row">
                <div class="col-lg-*">
                    <div >
                        {% if not is_popup and is_nav_sidebar_enabled %}
                          {% block nav-sidebar %}
                          {% endblock %}
                        {% endif %}
                        <div class="content">
                          {% block messages %}
                            {% if messages %}
                              <ul class="messagelist">{% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
                              {% endfor %}</ul>
                            {% endif %}
                          {% endblock messages %}
                          <!-- Content -->
                          <div id="content" class="{% block coltype %}colM{% endblock %}">
                            {% block pretitle %}{% endblock %}
                            {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
                            {% block content %}
                              {% block object-tools %}{% endblock %}
                              {{ content }}
                            {% endblock %}
                            {% block sidebar %}{% endblock %}
                            <br class="clear">
                          </div>
                          <!-- END Content -->
                          {% block footer %}<div id="footer"></div>{% endblock %}
                        </div>
                      </div>
                </div>
            </div>
        </section>
    </main>


    

<!-- END Container -->

{% include 'master_app/script.html' %}
{% block extrascript %}{% endblock %}
</body>
</html>
