{% extends 'admin/base_site.html' %}
{% load static i18n admin_urls  %}
{% block title %}Developer | Cyber Range{% endblock title %}

{% block extra_style %}






{% endblock extra_style %}




{% block content %}

{% block breadcrumbs %}{% endblock %}



{% block content_title %}{% endblock %}


<style>
  .services .icon-box {
box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
padding: 50px 30px;
transition: all ease-in-out 0.4s;
background: #fff;
border-radius: 0.625rem;
}
.services .icon-box .icon {
margin-bottom: 10px;
}
.services .icon-box:hover {
transform: translateY(-10px);
}
.card-icon {
  color: #4154f1;
  background: #f6f6fe;
}
.color-green{
  color: #2eca6a;
background: #e0f8e9;
}

.color-indian-saffrons{
  color: #ff771d;
background: #ffecdf;
}
.color-mocha{
  color: #492b7c;
  background: #dfcefd;
}
.color-midnight-express{
  color: #6b717e;
  background: #bfd3ff;
}
.color-dark{
  color: red;
  background: rgb(255, 0, 0 , 0.3);
}
</style>

<!-- <div class="container-fluid py-4"> -->

  

<!-- ======= Services Section ======= -->
<section id="services" class="services ">
  <div class="container" >
    <div class="row justify-content-start">
      <div class="col-xl-3 col-md-4 d-flex  align-items-stretch my-3"  >
        <div class="icon-box d-flex flex-column ">
          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center mx-auto mb-3">
            <i class="fas fa-user "></i>
          </div>
          <h4 class="text-center "><a href="{% url 'admin:accounts_user_changelist' %}">User &nbsp; Management</a></h4>
        </div>
      </div>
      <div class="col-xl-3 col-md-4 d-flex align-items-stretch my-3"  >
        <div class="icon-box d-flex flex-column ">
          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center mx-auto mb-3 color-green">
            <i class="bi bi-menu-button-wide "></i>
          </div>
          <h4 class="text-center "><a href="{% url 'admin:master_app_course_changelist' %}">Course Management</a></h4>
        </div>
      </div>
      <div class="col-xl-3 col-md-4 d-flex align-items-stretch my-3"  >
        <div class="icon-box d-flex flex-column ">
          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center mx-auto mb-3 color-indian-saffrons">
            <i class="fas fa-server "></i>
          </div>
          <h4 class="text-center "><a href="{% url 'admin:master_app_virtualnetwork_changelist' %}">Virtual Network Management</a></h4>
        </div>        
      </div>
      <div class="col-xl-3 col-md-4 d-flex align-items-stretch my-3"  >
        <div class="icon-box d-flex flex-column ">
          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center mx-auto mb-3 color-mocha">
            <i class="fas fa-tasks "></i>
          </div>
          <h4 class="text-center "><a href="{% url 'admin:master_app_networkflag_changelist' %}">Network Flag Management</a></h4>
        </div>        
      </div>
      <div class="col-xl-3 col-md-4 d-flex align-items-stretch my-3"  >
        <div class="icon-box d-flex flex-column ">
          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center mx-auto mb-3 color-midnight-express">
            <i class="fas fa-paper-plane "></i>
          </div>
          <h4 class="text-center "><a href="{% url 'admin:master_app_networkflagsubmission_changelist' %}">Flags Submission Management</a></h4>
        </div>        
      </div>
      <!-- Logs Management -->
      <div class="col-xl-3 col-md-4 d-flex align-items-stretch my-3"  >
        <div class="icon-box d-flex flex-column ">
          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center mx-auto mb-3 color-dark">
            <i class="fas fa-history "></i>
          </div>
          <h4 class="text-center "><a href="{% url 'admin:admin_logentry_changelist' %}">Logs Management</a></h4>
        </div>        
      </div>
    </div>

  </div>
</section><!-- End Services Section -->


        

{% endblock content %}



{% block extra_script %}



<!-- Vendor JS Files -->
<script src="{% static 'assetsNew/vendor/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'assetsNew/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assetsNew/vendor/chart.js/chart.min.js' %}"></script>
<script src="{% static 'assetsNew/vendor/echarts/echarts.min.js' %}"></script>
<script src="{% static 'assetsNew/vendor/quill/quill.min.js' %}"></script>
<script src="{% static 'assetsNew/vendor/simple-datatables/simple-datatables.js' %}"></script>
<script src="{% static 'assetsNew/vendor/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'assetsNew/vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'assetsNew/js/main.js' %}"></script>


<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>


{% endblock extra_script %}



<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% translate 'Recent actions' %}</h2>
        <h3>{% translate 'My actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% translate 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{{ entry.content_type.name }}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% translate 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-6">
      
      
{% if app_list %}
{% for app in app_list %}
<table class="table">
<thead>
<tr>
  <th scope="col" colspan="3"><h3 class="card-title fw-bold">{{ app.name }}</h3></th>
</tr>
</thead>
<tbody>
{% for model in app.models %}
<tr >
  {% if model.admin_url %}
    <td scope="row" >
        <a href="{{ model.admin_url }}"{% if model.admin_url in request.path %} aria-current="page"{% endif %} class="card-link text-decoration-none h4 ">{{ model.name }}</a>
  </td>
  {% else %}
    <td scope="row">{{ model.name }}</td>
  {% endif %}

  {% if model.add_url %}
    <td class="text-end"><a href="{{ model.add_url }}" class="card-link text-decoration-none text-end"><i class="fas fa-plus"></i> {% translate 'Add' %}</a></td>
  {% else %}
    <td></td>
  {% endif %}

  {% if model.admin_url and True %}
    {% if model.view_only %}
      <td class="text-end"><a href="{{ model.admin_url }}" class="card-link text-decoration-none text-end"><i class="fas fa-eye"></i> {% translate 'View' %}</a></td>
    {% else %}
      <td class="text-end"><a href="{{ model.admin_url }}" class="card-link text-decoration-none text-end"><i class="fas fa-edit"></i> {% translate 'Change' %}</a></td>
    {% endif %}
  {% elif True %}
    <td></td>
  {% endif %}
</tr>                
{% endfor %}
</tbody>
</table>   

{% endfor %}
{% else %}
<p class="card-text">{% translate 'You don’t have permission to view or edit anything.' %}</p>
{% endif %}
  </div>
</div>