
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
  

      {% if request.user.is_authenticated %}

      
  
  
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'admin:index' %}">
          <i class="fa-solid fa-grip-vertical me-2"></i>
          <span>Developer</span>
        </a>
      </li><!-- End Dashboard Nav -->
      
  
      {% endif %}

      <li class="nav-heading">Pages</li> 
  

      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#user-nav" data-bs-toggle="collapse" href="#">
          <i class="fas fa-user me-2"></i><span>User Management</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="user-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'admin:accounts_user_add' %}">
              <i class="bi bi-circle"></i><span>Create User Challenge</span>
            </a>
          </li>
          <li>
            <a href="{% url 'admin:accounts_user_changelist' %}">
              <i class="bi bi-circle"></i><span>All User</span>
            </a>
          </li>
        </ul>
      </li><!-- End User Nav -->  
      <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-menu-button-wide"></i><span>Course Management</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
              <a href="{% url 'admin:master_app_course_add' %}">
                <i class="bi bi-circle"></i><span>Create New Course</span>
              </a>
            </li>
            <li>
              <a href="{% url 'admin:master_app_course_changelist' %}">
                <i class="bi bi-circle"></i><span>All Courses</span>
              </a>
            </li>
          </ul>
        </li><!-- End Courses Nav -->
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#challenges-nav" data-bs-toggle="collapse" href="#">
            <i class="fas fa-tasks me-2"></i><span>Challenge Management</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="challenges-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
              <a href="{% url 'admin:master_app_course_add' %}">
                <i class="bi bi-circle"></i><span>Create New Challenge</span>
              </a>
            </li>
            <li>
              <a href="{% url 'admin:master_app_course_changelist' %}">
                <i class="bi bi-circle"></i><span>All Challenges</span>
              </a>
            </li>
          </ul>
        </li><!-- End Challenges Nav -->
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#network-nav" data-bs-toggle="collapse" href="#">
            <i class="fas fa-server me-2"></i><span>Virtual Network Management</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="network-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
              <a href="{% url 'admin:master_app_virtualnetwork_add' %}">
                <i class="bi bi-circle"></i><span>Create New Virtual Network</span>
              </a>
            </li>
            <li>
              <a href="{% url 'admin:master_app_virtualnetwork_changelist' %}">
                <i class="bi bi-circle"></i><span>All Virtual Network</span>
              </a>
            </li>
          </ul>
        </li><!-- End Virtual Network Nav -->
      {% endif %}
      


      {% comment %}
      {% if site_url %}

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ site_url }}">
          <i class="fa-solid fa-eye me-2"></i>
          <span>View Site</span>
        </a>
      </li><!-- End View Site Nav -->
      
      {% endif %}
      <li class="nav-item">
        <a class="nav-link collapsed" href="#!">
          <i class="bi bi-file-earmark"></i>
          <span>Recent Actions</span>
        </a>
      </li><!-- End Recent Actions Nav -->
  
      {% endcomment %}


      {% if request.user.has_usable_password %}
      
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'admin:password_change' %}">
          <i class="fa-solid fa-lock me-2"></i>
          <span>Change Password</span>
        </a>
      </li><!-- End Change Password Nav -->
      
        {% endif %}

  
      {% comment %}
      <li class="nav-item">
        <a class="nav-link collapsed" href="#!">
          <i class="bi bi-file-earmark"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->
      {% endcomment %}
  
      


      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'admin:logout' %}">
          <i class="fa-solid fa-right-from-bracket me-2"></i>
          <span>Sign Out</span>
        </a>
      </li><!-- End Logout Nav -->
      

      {% else %}
      
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'admin:login' %}">
          <i class="fa-solid fa-right-to-bracket me-2"></i>
          <span>Sign In</span>
        </a>
      </li><!-- End Login Nav -->

      {% endif %}

      
  
      
      
  
  
  
    </ul>
  
  </aside><!-- End Sidebar-->
  