<div class="card {% if not course.get_virtual_network %} bg-transparent shadow-none {% endif %} p-0 ">
    <div class="card-body  px-0">
      {% if course.get_virtual_network %}
        {% if course.is_approved == "1" %}
          <a class="btn btn-warning py-3 shadow-lg w-100" href="{% url 'instructor-approve-course-url' course.id   %}" >Send Request for Approval</a>
        {% elif course.is_approved == "2" %}
          <button class="btn btn-primary py-3 shadow-lg w-100">Approval Request Sent</button>
        {% else %}
          <h3 class="p-3">Virtual Network</h3>
        {% endif %}
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Status</div>
              </div>
              {% if course.get_virtual_network %}
        {% if course.is_approved == "1" %}
              <span class="badge bg-warning">Draft</span>
    {% elif course.is_approved == "2" %}
      
      <span class="badge bg-primary">Approval Request Sent</span>
    {% elif course.is_approved == "3" %}
    <span class="badge bg-success">Approved</span>
      
    {% elif course.is_approved == "4"  %}
    <span class="badge bg-danger">Rejected</span>
      
    {% endif %}
    {% endif %}
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Name</div>
              </div>
              <p class="w-50 text-end">{{ course.get_virtual_network.name }}</p>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">OS</div>
              </div>
              <p class="w-50 text-end">{{ course.get_virtual_network.get_operating_system }}</p></li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Scenario</div>
              </div><p class="w-50 text-end">{{ course.get_virtual_network.get_scenarios }}</p>
            </li>
            {% if course.is_approved == "3" %}
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">IP Address</div>
                </div>
                <p class="w-50 text-end">{{ course.get_virtual_network.ip_address }}</p></li>
            {% endif %}
            <li class="list-group-item text-center" aria-disabled="true"><a data-bs-toggle="offcanvas" href="#offcanvasExample{{ course.get_virtual_network.name|slugify  }}" role="button" aria-controls="offcanvasExample{{ course.get_virtual_network.name|slugify  }}">See Details<i class="fas fa-chevron-right fs-5 ms-3 pt-2"></i></a></li>
          </ul>
      {% else %}
        <a class="btn btn-primary py-3 shadow-lg w-100 " href="#virutal_network_modal" data-bs-toggle="modal">Request Virutal Network</a>
      {% endif %}
      
      
    </div>
  </div>