{%  extends 'base.html' %}
{% load static %}
{% block title %} Learning Process {% endblock %}

{% block extra_css %}
{% endblock %}


{% block content %}
<main id="main" class="main">
    <section class="section dashboard">
        <div class="container">
            <div class="pagetitle">
                <h1>Course Details</h1>
                <nav>
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#!">Home</a></li>
                    <li class="breadcrumb-item "><a href="#!">Courses</a></li>
                    <li class="breadcrumb-item active">Learning Process</li>
                  </ol>
                </nav>
              </div><!-- End Page Title -->
        
            <div class="row">
                <div class="col-12">
                    <!-- Card with an image on left -->
              <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{% static 'assets/img/course.png' %}" class="img-fluid rounded-start h-100" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Learning Process <span class="badge bg-success text-white">Approved</span></h5> 
                      <p class="card-text">The learning process is one of the essential and most important components that is often overlooked. This module does not teach you techniques to learn but describes the process of learning adapted to the field of information security. 
                      </p>
                      <p><i class="fas fa-star text-warning fs-5" ></i><i class="fas fa-star text-warning fs-5" ></i><i class="fas fa-star text-warning fs-5" ></i><i class="fas fa-star text-warning fs-5" ></i><i class="fas fa-star text-warning fs-5" ></i></p>
                      <p>Created By <strong class="text-primary fw-bolder">Cry0l1t3</strong></p>
                    </div>
                  </div>
                </div>
              </div><!-- End Card with an image on left -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <h3>Summary</h3>
                    <p>This module covers various stages of the learning process, such as:</p>
                    <ul>
                    <li>Mindset</li>
                    <li>Learning Efficiency and learning types</li>
                    <li>Documentation</li>
                    <li>Organization</li>
                    <li>Focus</li>
                    <li>Attention</li>
                    <li>Dealing with Frustration</li>
                    </ul>
                    <p>The principles covered in this module will benefit you greatly as you embark on, or continue, your infosec journey.</p>
                </div>
                <div class="col-lg-4">
                    <h3>Sections</h3>
                    <ul>
                    <li class="mb-1">
                    <i class="fas fa-book text-primary" data-toggle="tooltip" data-title="Document"></i> Way Of Thinking
                    </li>
                    <li class="mb-1">
                    <i class="fas fa-book text-primary" data-toggle="tooltip" data-title="Document"></i> Think Outside the Box
                    </li>
                    <li class="mb-1">
                    <i class="fas fa-book text-primary" data-toggle="tooltip" data-title="Document"></i> Occam's Razor
                    </li>
                    <li class="mb-1">
                    <i class="fas fa-book text-primary" data-toggle="tooltip" data-title="Document"></i> Talent
                    </li>
                    <li class="mb-1">
                    <i class="fas fa-book text-primary" data-toggle="tooltip" data-title="Document"></i> Way Of Learning
                    </li>
                    <li class="mb-1">
                    <i class="fas fa-book text-primary" data-toggle="tooltip" data-title="Document"></i> Learning Efficiency
                    </li>
                    <li class="mb-1">
                    <i class="fas fa-book text-primary" data-toggle="tooltip" data-title="Document"></i> Learning Types
                    </li>
                     <li class="mb-1">
                    <i class="fas fa-book text-primary" data-toggle="tooltip" data-title="Document"></i> The Brain
                    </li>
                    <li class="mb-1">
                    <i class="fas fa-book text-primary" data-toggle="tooltip" data-title="Document"></i> The Will
                    </li>
                    <li class="mb-1">
                    <i class="fas fa-book text-primary" data-toggle="tooltip" data-title="Document"></i> The Goal
                    </li>
                    <li class="mb-1">
                    <i class="fas fa-book text-primary" data-toggle="tooltip" data-title="Document"></i> Decision Making
                    </li>
                    <li class="mb-1">
                    <i class="fas fa-book text-primary" data-toggle="tooltip" data-title="Document"></i> Documentation
                    </li>
                    <li class="mb-1">
                    <i class="fas fa-book text-primary" data-toggle="tooltip" data-title="Document"></i> Organization
                    </li>
                    <li class="mb-1">
                    <i class="fas fa-book text-primary" data-toggle="tooltip" data-title="Document"></i> Focus
                    </li>
                    <li class="mb-1">
                    <i class="fas fa-book text-primary" data-toggle="tooltip" data-title="Document"></i> Attention
                    </li>
                    <li class="mb-1">
                    <i class="fas fa-book text-primary" data-toggle="tooltip" data-title="Document"></i> Comfort
                    </li>
                    <li class="mb-1">
                    <i class="fas fa-book text-primary" data-toggle="tooltip" data-title="Document"></i> Obstacles
                    </li>
                    <li class="mb-1">
                    <i class="fas fa-book text-primary" data-toggle="tooltip" data-title="Document"></i> Questioning
                    </li>
                    <li class="mb-1">
                    <i class="fas fa-book text-primary" data-toggle="tooltip" data-title="Document"></i> Handling Frustration
                    </li>
                    <li class="mb-1">
                    <i class="fas fa-cube text-success" data-toggle="tooltip" data-title="Interactive / Exercise"></i> Learning Progress
                    </li>
                    </ul>
                    </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                <h3>Relevant Paths</h3>
                <p>This module progresses you towards the following Paths</p>
                <!-- Card with an image on left -->
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{% static 'assets/img/cyber_course.png' %}" class="img-fluid rounded-start h-100" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Information Security Foundations</h5>
                  <p class="mt-2 m-0">
                    <span class="badge bg-success ">Easy</span>
                    <span class="badge bg-dark ">170 Sections</span>
                </p>
                    <p class="mt-2 small">
                        Cubes Required: 200
                        </p>
                        <p class="mt-2">Information Security is a field with many specialized and highly technical disciplines. Job roles like Penetration Tester &amp; Information Security Analyst require a solid technical foundational understanding of core IT &amp; Information Security topics. </p>
                </div>
              </div>
            </div>
          </div><!-- End Card with an image on left -->
                
                </div>
                </div>
        </div>
    </section>
</main>
{% endblock %}