{%  extends 'base.html' %}
{% load static %}
{% block title %} {{ course.name }} {% endblock %}

{% block extra_css %}
<link href="{% static 'assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
<link href="{% static 'assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
<script src="{% static 'assets/vendor/quill/quill.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'assets/vendor/loader/loader-double.css' %}"  />
<script src="{% static 'assets/vendor/filesize/filesize.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'assets/vendor/flickity/flickity.min.css' %}">
<script src="{% static 'assets/vendor/flickity/flickity.pkgd.min.js' %}"></script>


<style>
  .dashboard .activity .activity-item .activite-label{
    min-width: 0px;
  }
</style>
{% endblock %}


{% block content %}


<!-- Request Virtual Network Modal -->
{% if not course.get_virtual_network %}
  {% include 'master_app/instructor/vn_modal.html' %}
{%  endif %}
<!-- End : Request Virtual Network Modal -->


<!-- Student Modal -->
{% include 'master_app/instructor/create_student_modal.html' %}
<!-- End : Student Modal -->


<div class="loader loader-double "></div>

<main id="main" class="main">
    <section class="section dashboard">
        <div class="container">
            
          <div class="pagetitle">
                <h1>Course Details</h1>
                <nav>
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'instructor-dasboard-url' %}">Dashboard</a></li>
                    <li class="breadcrumb-item "><a href="{% url 'courses-all-url' %}">Courses</a></li>
                    <li class="breadcrumb-item active">{{ course.name }}</li>
                  </ol>
                </nav>
              </div><!-- End Page Title -->
        
            <div class="row">
                <div class="col-12 col-md-8">

                  <!-- Course Details  -->
                  {% include 'master_app/course_card_header.html' %}
                  <!-- End : Course Details  -->

                </div>
                <div class="col-12 col-md-4 mb-5">

                  <!-- Virtual Network Details -->
                  {% include 'master_app/instructor/cd_network_details.html' %}
                  <!-- End Virtual Network Details -->
                  
                  
                  <!-- Challenges -->
                  <!-- End Challenges -->
                    
                  
                  <!-- Attack Group Students List -->
                    {% include 'master_app/instructor/cd_students.html' %}
                  <!-- End : Attack Group Students List -->

                  <!-- Defense Group Students List -->
                  {% include 'master_app/instructor/cd_students_2.html' %}
                  <!-- End : Defense Group Students List -->


                  <!-- Results -->
                  {% if course.is_approved == "3" %}
                    {% include 'master_app/course_challenge_results.html' %}
                  {% endif %}
                  <!-- End Results -->



                </div>
            </div>
            
            


            
        </div>
    </section>
</main>



<!-- offcanvas: virutal network details -->
{% if course.get_virtual_network %}
  {% include 'master_app/instructor/offcanvas_network.html' with network=course.get_virtual_network  %}
{% endif %}
<!-- End : offcanvas: virutal network details -->

{% endblock %}

{% block extra_js %}




<script>
  $(function(){
    window.dispatchEvent(new Event('resize'));
  });
  $(".ql-editor").attr('contenteditable', false);
  $(".ql-clipboard, .ql-tooltip").hide();
  if($("#modalEditor").length){
    $("#modalEditor .ql-editor").attr('contenteditable', true);
    $("#modalEditor .ql-clipboard, #modalEditor .ql-tooltip").hide();
  }


  if($("#challengeEditor").length){
  var quill = new Quill('#challengeEditor', {
    theme: 'snow'
  });
    $("#challengeEditor .ql-editor").attr('contenteditable', true);
    $("#challengeEditor .ql-clipboard, #challengeEditor .ql-tooltip").hide();
    $(function(){
        $("#identifier_challenge").on("submit",function(event) {
        $("#identifier_challenge #id_description").val($("#challengeEditor").html());
        })
    });
  }

</script>

<!-- scenario fetching -->
<script>
// var os_types = [];


var os_type_dict = {
}

var description = {
}

var size = {
}

var status_dict= {

}


var state_dict = {
}

var ram_dict = {
}
var disk_dict = {
}

var imgref_dict={

}

  $('#virutal_network_modal').on('show.bs.modal', function (e) {
    $(".loader-double").addClass("is-active");
              $.ajax({
                url : $('#virutal_network_modal').attr("data-url"),
                type  : "GET",
                processData: false,
                contentType: false,
                success : function(response){
                  var images = response.data.images.filter(
                  function(value) {
                    return value.image_type == "active"; 
                  });
                  function onlyUnique(value, index, self) {
                    return self.indexOf(value) === index;
                  }
                  for (var index= 0; index < images.length ; index ++){
                    $('#id_scenarios').append(`<option value="${images[index]["name"]}"> ${images[index]["name"]} </option>`);
                    os_type_dict[images[index]["name"]] = images[index]["os_type"];
                    description[images[index]["name"]] = images[index]["description"];
                    size[images[index]["name"]] = images[index]["size"];
                    status_dict[images[index]["name"]] = images[index]["status"];
                    state_dict[images[index]["name"]] = images[index]["image_state"];
                    ram_dict[images[index]["name"]] = images[index]["min_ram"];
                    disk_dict[images[index]["name"]] = images[index]["min_disk"];
                    imgref_dict[images[index]["name"]] = images[index]["id"];
                  }
                  // console.debug(os_type_dict);
                  $("#id_operating_system").val("" +  os_type_dict[$('#id_scenarios').val()]);
                  $("#modalEditor .ql-editor").html("" + description[$('#id_scenarios').val()]);
                  $("#id_size").val(filesize(  size[$('#id_scenarios').val()], {base: 2, standard: "jedec"}) );
                  $("#id_status").val("" + status_dict[$('#id_scenarios').val()]);
                  $("#id_state").val("" + state_dict[$('#id_scenarios').val()]);
                  $("#id_min_ram").val(filesize( ram_dict[$('#id_scenarios').val()] *1024*1024, {base : 2, standard : "jedec"}) );
                  $("#id_min_disk").val(filesize( disk_dict[$('#id_scenarios').val()] *1024*1024*1024, {base : 2, standard : "jedec"})  );
                  $("#id_imageRef").val("" + imgref_dict[$('#id_scenarios').val()]);
                },
                error : function(response){
                  // alert(response["responseJSON"]["error"]);
                  new Noty({
        //  alert, success, error, warning, info
        timeout: 4000 ,
        type : "error",
        theme: 'sunset',
        // container : ".noty_layout",
        force : false,
        // layout: 'bottomLeft',
        text: `<i class="fas fa-exclamation-circle"></i>&nbsp; ${response["responseJSON"]["error"]}`,
        animation: {
        open: function (promise) {
            var n = this;
            var Timeline = new mojs.Timeline();
            var body = new mojs.Html({
                el        : n.barDom,
                x         : {500: 0, delay: 0, duration: 500, easing: 'elastic.out'},
                isForce3d : true,
                onComplete: function () {
                    promise(function(resolve) {
                        resolve();
                    })
                }
            });

            var parent = new mojs.Shape({
                parent: n.barDom,
                width      : 200,
                height     : n.barDom.getBoundingClientRect().height,
                radius     : 0,
                x          : {[150]: -150},
                duration   : 1.2 * 500,
                isShowStart: true
            });

            n.barDom.style['overflow'] = 'visible';
            parent.el.style['overflow'] = 'hidden';

            var burst = new mojs.Burst({
                parent  : parent.el,
                count   : 10,
                top     : n.barDom.getBoundingClientRect().height + 75,
                degree  : 90,
                radius  : 75,
                angle   : {[-90]: 40},
                children: {
                    fill     : '#EBD761',
                    delay    : 'stagger(500, -50)',
                    radius   : 'rand(8, 25)',
                    direction: -1,
                    isSwirl  : true
                }
            });

            var fadeBurst = new mojs.Burst({
                parent  : parent.el,
                count   : 2,
                degree  : 0,
                angle   : 75,
                radius  : {0: 100},
                top     : '90%',
                children: {
                    fill     : '#EBD761',
                    pathScale: [.65, 1],
                    radius   : 'rand(12, 15)',
                    direction: [-1, 1],
                    delay    : .8 * 500,
                    isSwirl  : true
                }
            });

            Timeline.add(body, burst, fadeBurst, parent);
            Timeline.play();
        },
        close: function (promise) {
            var n = this;
            new mojs.Html({
                el        : n.barDom,
                x         : {0: 500, delay: 10, duration: 500, easing: 'cubic.out'},
                skewY     : {0: 10, delay: 10, duration: 500, easing: 'cubic.out'},
                isForce3d : true,
                onComplete: function () {
                    promise(function(resolve) {
                        resolve();
                    })
                }
            }).play();
        }
        }
    }).show();    
          
                },
                complete : function(response){
                  $(".loader-double").removeClass("is-active");
                }
                
              });
});
</script>
<script>
  $('#id_scenarios').on('change', function() {
    $("#id_operating_system").val("" +  os_type_dict[this.value]);
    $("#id_status").val("" + status_dict[this.value]);
    $("#modalEditor .ql-editor").html("" + description[this.value]);
    $("#id_size").val(filesize(  size[this.value], {base: 2, standard: "jedec"})   );
    $("#id_state").val("" + state_dict[this.value]);
    $("#id_min_ram").val(filesize( ram_dict[this.value] *1024*1024, {base : 2, standard : "jedec"}) );
    $("#id_min_disk").val(filesize( disk_dict[this.value] *1024*1024*1024, {base : 2, standard : "jedec"})  );
    $("#id_imageRef").val("" + imgref_dict[this.value]);
  });
</script>
<!-- end : senario fetching -->

<!-- Add a new student script -->
  {% include 'master_app/instructor/new_student_script.html' %}
<!-- End : Add a new student script -->

<!-- Submit request for virtual network by instructor-->
<script>
  $("form#identifier").on("submit",function(event){
    event.preventDefault();
    event.stopPropagation();
    $("#id_description").val($(".quill-editor-full").html());
    var submit_form = $("form#identifier").get(0);
    if(submit_form.checkValidity()){
      // console.debug("Form is valid");
      var fd = new FormData($("form#identifier")[0]);
      $.ajaxSetup({
        beforeSend: function(xhr, settings){
          xhr.setRequestHeader(
            'X-CSRFToken', '{{ csrf_token }}'
          )
        }
      });
      $.ajax({
        url : $(submit_form).attr("action"),
        type  : "POST",
        data: fd,
        processData: false,
        contentType: false,
        success : function(response){
              myModal.hide();
              new Noty({
            //  alert, success, error, warning, info
            timeout: 2000 ,
            type : "success",
            theme: 'sunset',
            // container : ".noty_layout",
            force : false,
            // layout: 'bottomLeft',
            text: '<i class="fas fa-check-circle"></i>&nbsp; Request for Virtual Network has been added.',
            animation: {
            open: function (promise) {
                var n = this;
                var Timeline = new mojs.Timeline();
                var body = new mojs.Html({
                    el        : n.barDom,
                    x         : {500: 0, delay: 0, duration: 500, easing: 'elastic.out'},
                    isForce3d : true,
                    onComplete: function () {
                        promise(function(resolve) {
                            resolve();
                        })
                    }
                });
    
                var parent = new mojs.Shape({
                    parent: n.barDom,
                    width      : 200,
                    height     : n.barDom.getBoundingClientRect().height,
                    radius     : 0,
                    x          : {[150]: -150},
                    duration   : 1.2 * 500,
                    isShowStart: true
                });
    
                n.barDom.style['overflow'] = 'visible';
                parent.el.style['overflow'] = 'hidden';
    
                var burst = new mojs.Burst({
                    parent  : parent.el,
                    count   : 10,
                    top     : n.barDom.getBoundingClientRect().height + 75,
                    degree  : 90,
                    radius  : 75,
                    angle   : {[-90]: 40},
                    children: {
                        fill     : '#EBD761',
                        delay    : 'stagger(500, -50)',
                        radius   : 'rand(8, 25)',
                        direction: -1,
                        isSwirl  : true
                    }
                });
    
                var fadeBurst = new mojs.Burst({
                    parent  : parent.el,
                    count   : 2,
                    degree  : 0,
                    angle   : 75,
                    radius  : {0: 100},
                    top     : '90%',
                    children: {
                        fill     : '#EBD761',
                        pathScale: [.65, 1],
                        radius   : 'rand(12, 15)',
                        direction: [-1, 1],
                        delay    : .8 * 500,
                        isSwirl  : true
                    }
                });
    
                Timeline.add(body, burst, fadeBurst, parent);
                Timeline.play();
            },
            close: function (promise) {
                var n = this;
                new mojs.Html({
                    el        : n.barDom,
                    x         : {0: 500, delay: 10, duration: 500, easing: 'cubic.out'},
                    skewY     : {0: 10, delay: 10, duration: 500, easing: 'cubic.out'},
                    isForce3d : true,
                    onComplete: function () {
                        promise(function(resolve) {
                            resolve();
                        })
                    }
                }).play();
            }
            }
        }).show();    
    
            setTimeout(function(){
              location.reload();
            }, 2000);
    
            },
            
        error : function(response){
          // alert(response["responseJSON"]["error"]);
          var text = "";
          for (const [key, value] of Object.entries(JSON.parse(response["responseJSON"]["error"]))) {
            // console.log(key, value);
            if(key == "__all__"){
              text  = text + '<i class="fas fa-exclamation-circle"></i>&nbsp;' + "Student already registered with this course";
            }
            else{
              text  = text + '<i class="fas fa-exclamation-circle"></i>&nbsp;' + value;
            }
          }
          new Noty({
            //  alert, success, error, warning, info
            timeout: 4000 ,
            type : "error",
            theme: 'sunset',
            // container : ".noty_layout",
            force : false,
            // layout: 'bottomLeft',
            text: text,
            animation: {
            open: function (promise) {
                var n = this;
                var Timeline = new mojs.Timeline();
                var body = new mojs.Html({
                    el        : n.barDom,
                    x         : {500: 0, delay: 0, duration: 500, easing: 'elastic.out'},
                    isForce3d : true,
                    onComplete: function () {
                        promise(function(resolve) {
                            resolve();
                        })
                    }
                });
    
                var parent = new mojs.Shape({
                    parent: n.barDom,
                    width      : 200,
                    height     : n.barDom.getBoundingClientRect().height,
                    radius     : 0,
                    x          : {[150]: -150},
                    duration   : 1.2 * 500,
                    isShowStart: true
                });
    
                n.barDom.style['overflow'] = 'visible';
                parent.el.style['overflow'] = 'hidden';
    
                var burst = new mojs.Burst({
                    parent  : parent.el,
                    count   : 10,
                    top     : n.barDom.getBoundingClientRect().height + 75,
                    degree  : 90,
                    radius  : 75,
                    angle   : {[-90]: 40},
                    children: {
                        fill     : '#EBD761',
                        delay    : 'stagger(500, -50)',
                        radius   : 'rand(8, 25)',
                        direction: -1,
                        isSwirl  : true
                    }
                });
    
                var fadeBurst = new mojs.Burst({
                    parent  : parent.el,
                    count   : 2,
                    degree  : 0,
                    angle   : 75,
                    radius  : {0: 100},
                    top     : '90%',
                    children: {
                        fill     : '#EBD761',
                        pathScale: [.65, 1],
                        radius   : 'rand(12, 15)',
                        direction: [-1, 1],
                        delay    : .8 * 500,
                        isSwirl  : true
                    }
                });
    
                Timeline.add(body, burst, fadeBurst, parent);
                Timeline.play();
            },
            close: function (promise) {
                var n = this;
                new mojs.Html({
                    el        : n.barDom,
                    x         : {0: 500, delay: 10, duration: 500, easing: 'cubic.out'},
                    skewY     : {0: 10, delay: 10, duration: 500, easing: 'cubic.out'},
                    isForce3d : true,
                    onComplete: function () {
                        promise(function(resolve) {
                            resolve();
                        })
                    }
                }).play();
            }
            }
        }).show();    
              
          
        }
      });
    }
    else{
      new Noty({
        //  alert, success, error, warning, info
        timeout: 4000 ,
        type : "error",
        theme: 'sunset',
        // container : ".noty_layout",
        force : false,
        // layout: 'bottomLeft',
        text: '<i class="fas fa-exclamation-circle"></i>&nbsp; Please input all required fields.',
        animation: {
        open: function (promise) {
            var n = this;
            var Timeline = new mojs.Timeline();
            var body = new mojs.Html({
                el        : n.barDom,
                x         : {500: 0, delay: 0, duration: 500, easing: 'elastic.out'},
                isForce3d : true,
                onComplete: function () {
                    promise(function(resolve) {
                        resolve();
                    })
                }
            });

            var parent = new mojs.Shape({
                parent: n.barDom,
                width      : 200,
                height     : n.barDom.getBoundingClientRect().height,
                radius     : 0,
                x          : {[150]: -150},
                duration   : 1.2 * 500,
                isShowStart: true
            });

            n.barDom.style['overflow'] = 'visible';
            parent.el.style['overflow'] = 'hidden';

            var burst = new mojs.Burst({
                parent  : parent.el,
                count   : 10,
                top     : n.barDom.getBoundingClientRect().height + 75,
                degree  : 90,
                radius  : 75,
                angle   : {[-90]: 40},
                children: {
                    fill     : '#EBD761',
                    delay    : 'stagger(500, -50)',
                    radius   : 'rand(8, 25)',
                    direction: -1,
                    isSwirl  : true
                }
            });

            var fadeBurst = new mojs.Burst({
                parent  : parent.el,
                count   : 2,
                degree  : 0,
                angle   : 75,
                radius  : {0: 100},
                top     : '90%',
                children: {
                    fill     : '#EBD761',
                    pathScale: [.65, 1],
                    radius   : 'rand(12, 15)',
                    direction: [-1, 1],
                    delay    : .8 * 500,
                    isSwirl  : true
                }
            });

            Timeline.add(body, burst, fadeBurst, parent);
            Timeline.play();
        },
        close: function (promise) {
            var n = this;
            new mojs.Html({
                el        : n.barDom,
                x         : {0: 500, delay: 10, duration: 500, easing: 'cubic.out'},
                skewY     : {0: 10, delay: 10, duration: 500, easing: 'cubic.out'},
                isForce3d : true,
                onComplete: function () {
                    promise(function(resolve) {
                        resolve();
                    })
                }
            }).play();
        }
        }
    }).show();    
          
    }
  });
</script>
<!-- End : Submit request for virtual network by instructor-->


{% endblock %}


{% comment %}


<div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header " style="background-color: #012970;">
    <h5 class="offcanvas-title mx-auto text-white fw-bolder" id="offcanvasExampleLabel">Description</h5>
  </div>
  <div class="offcanvas-body bg-light">
      <div class="d-flex align-items-center mt-3 mb-2 ">
          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
            <img src="{% static 'assets/img/caac8772de14a769c0bfe95756bceebe.png' %}" width="60" alt="">
          </div>
          <div class="ps-3">
            <h4 class="mb-0">{{ course.get_virtual_network }}</h4>
            <span class=" small pt-1 fw-bold h5">{{ course.get_virtual_network.rating }} Rating</span>

          </div>
        </div>


    <div class="row justify-content-center my-3">
      <div class="col-12">
          <h6 class="">{{ course.get_virtual_network.description|safe }}</h6>
      </div>
    </div>
    
    
    
    
  </div>
</div>


<!-- offcanvas: instructions -->
<div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasExample2" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header " style="background-color: #012970;">
    <h5 class="offcanvas-title mx-auto text-white fw-bolder" id="offcanvasExampleLabel">Instructions</h5>
  </div>
  <div class="offcanvas-body bg-light">
      <div class="d-flex align-items-center mt-3 mb-2 ">
          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
            <img src="{% static 'assets/img/caac8772de14a769c0bfe95756bceebe.png' %}" width="60" alt="">
          </div>
          <div class="ps-3">
            <h4 class="mb-0">{{ course.get_virtual_network }}</h4>
            <span class=" small pt-1 fw-bold h5">{{ course.get_virtual_network.rating }} Rating</span>

          </div>
        </div>

        
    <div class="row justify-content-center my-3">
      <div class="col-12">
          <h6 class="">{{ course.get_virtual_network.instructions|safe }}</h6>
      </div>
    </div>
    
    
    
    
  </div>
</div>

<div class="row">
  <div class="col-lg-8">
    
  </div>
  <div class="col-lg-4">
    <div class="card bg-transparent p-0 ">
      <div class="card-body p-0 shadow-none">
        {% if course.get_virtual_network %}
          <button class="btn btn-primary py-3 shadow-lg w-100" >Start instance for {{ course.get_virtual_network }}</button>
        {% else %}
          <a class="btn btn-primary py-3 shadow-lg w-100 " href="#virutal_network_modal" data-bs-toggle="modal">Create Virutal Network</a>
        {% endif %}
      </div>
    </div>
    <div class="card">
      <h5 class="card-header d-flex justify-content-between align-items-center">
        <span class="h3">Challenges</span>
        <button type="button" class="btn btn-sm btn-primary rounded-circle " style="margin-top: -60px;margin-right: -30px;" data-bs-target="#create_challenge_modal" data-bs-toggle="modal"><i class="bi bi-plus fs-5 "></i></button>
      
        <!-- Wrap with <div>...buttons...</div> if you have multiple buttons -->
      </h5>
      <div class="card-body p-3">
        <div class="activity">
        
          {% if easy_challenges %}
          
              {% for ch in easy_challenges %}
              {% include 'master_app/instructor/challenges_modals.html' with ch=ch %}
              <div class="activity-item d-flex">
                <div class="activite-label"></div>
                <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                <div class="activity-content">
                  <a href="#verticalycentered_{{ ch.course.id }}_{{ ch.id }}" class="fw-bold " data-bs-toggle="modal" >{{ ch.title }}</a>
                  
                </div>
              </div><!-- End activity item-->
              {% endfor %}
            
        {% endif %}
        {% if medium_challenges %}
          
              {% for ch in medium_challenges %}
              {% include 'master_app/instructor/challenges_modals.html' with ch=ch %}
              <div class="activity-item d-flex">
                <div class="activite-label"></div>
                <i class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>
                <div class="activity-content">
                  <a href="#verticalycentered_{{ ch.course.id }}_{{ ch.id }}" class="fw-bold " data-bs-toggle="modal" >{{ ch.title }}</a>
                </div>
              </div><!-- End activity item-->
              {% endfor %}
          
        {% endif %}
        {% if hard_challenges %}
          
              {% for ch in hard_challenges %}
              {% include 'master_app/instructor/challenges_modals.html' with ch=ch %}
              <div class="activity-item d-flex">
                <div class="activite-label"></div>
                <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                <div class="activity-content">
                  <a href="#verticalycentered_{{ ch.course.id }}_{{ ch.id }}" class="fw-bold " data-bs-toggle="modal" >{{ ch.title }}</a>
                </div>
              </div><!-- End activity item-->
              {% endfor %}
          
        {% endif %}
        </div>
      </div>
    </div>

    <div class="card">
      <h5 class="card-header d-flex justify-content-between align-items-center">
        <span class="h3">Students</span>
        <button type="button" class="btn btn-sm btn-primary rounded-circle " style="margin-top: -60px;margin-right: -30px;" data-bs-target="#create_student_modal" data-bs-toggle="modal"><i class="bi bi-plus fs-5 "></i></button>
      
        <!-- Wrap with <div>...buttons...</div> if you have multiple buttons -->
      </h5>
      <div class="card-body p-3">
        <ul class="list-group list-group-flush">
          {% if students %}
            {% for std in students %}
              <li class="list-group-item">{{std.student.email }}</li>
            {% endfor %}
          {% endif %}
        </ul><!-- End Clean list group -->
      </div>
    </div>
      



  </div>
</div>

<script>
  

  $("#start_network").on("click", function(event){
    event.preventDefault();
    event.stopPropagation();
    var request_url = $("#start_network").attr("data-accept");
              $.ajaxSetup({
                beforeSend: function(xhr, settings){
                  xhr.setRequestHeader(
                    'X-CSRFToken', '{{ csrf_token }}'
                  )
                }
              });
              $.ajax({
                url : request_url,
                type  : "POST",
                processData: false,
                contentType: false,
                success : function(response){


                  new Noty({
        //  alert, success, error, warning, info
        timeout: 4000 ,
        type : "success",
        theme: 'sunset',
        // container : ".noty_layout",
        force : false,
        // layout: 'bottomLeft',
        text: '<i class="fas fa-check-circle"></i>&nbsp;Approval Request to admin has been sent successfully.',
        animation: {
        open: function (promise) {
            var n = this;
            var Timeline = new mojs.Timeline();
            var body = new mojs.Html({
                el        : n.barDom,
                x         : {500: 0, delay: 0, duration: 500, easing: 'elastic.out'},
                isForce3d : true,
                onComplete: function () {
                    promise(function(resolve) {
                        resolve();
                    })
                }
            });

            var parent = new mojs.Shape({
                parent: n.barDom,
                width      : 200,
                height     : n.barDom.getBoundingClientRect().height,
                radius     : 0,
                x          : {[150]: -150},
                duration   : 1.2 * 500,
                isShowStart: true
            });

            n.barDom.style['overflow'] = 'visible';
            parent.el.style['overflow'] = 'hidden';

            var burst = new mojs.Burst({
                parent  : parent.el,
                count   : 10,
                top     : n.barDom.getBoundingClientRect().height + 75,
                degree  : 90,
                radius  : 75,
                angle   : {[-90]: 40},
                children: {
                    fill     : '#EBD761',
                    delay    : 'stagger(500, -50)',
                    radius   : 'rand(8, 25)',
                    direction: -1,
                    isSwirl  : true
                }
            });

            var fadeBurst = new mojs.Burst({
                parent  : parent.el,
                count   : 2,
                degree  : 0,
                angle   : 75,
                radius  : {0: 100},
                top     : '90%',
                children: {
                    fill     : '#EBD761',
                    pathScale: [.65, 1],
                    radius   : 'rand(12, 15)',
                    direction: [-1, 1],
                    delay    : .8 * 500,
                    isSwirl  : true
                }
            });

            Timeline.add(body, burst, fadeBurst, parent);
            Timeline.play();
        },
        close: function (promise) {
            var n = this;
            new mojs.Html({
                el        : n.barDom,
                x         : {0: 500, delay: 10, duration: 500, easing: 'cubic.out'},
                skewY     : {0: 10, delay: 10, duration: 500, easing: 'cubic.out'},
                isForce3d : true,
                onComplete: function () {
                    promise(function(resolve) {
                        resolve();
                    })
                }
            }).play();
        }
        }
    }).show();    
    
                },
                error : function(response){
                  new Noty({
        //  alert, success, error, warning, info
        timeout: 4000 ,
        type : "error",
        theme: 'sunset',
        // container : ".noty_layout",
        force : false,
        // layout: 'bottomLeft',
        text: '<i class="fas fa-exclamation-circle"></i>&nbsp;' + response["responseJSON"]["error"],
        animation: {
        open: function (promise) {
            var n = this;
            var Timeline = new mojs.Timeline();
            var body = new mojs.Html({
                el        : n.barDom,
                x         : {500: 0, delay: 0, duration: 500, easing: 'elastic.out'},
                isForce3d : true,
                onComplete: function () {
                    promise(function(resolve) {
                        resolve();
                    })
                }
            });

            var parent = new mojs.Shape({
                parent: n.barDom,
                width      : 200,
                height     : n.barDom.getBoundingClientRect().height,
                radius     : 0,
                x          : {[150]: -150},
                duration   : 1.2 * 500,
                isShowStart: true
            });

            n.barDom.style['overflow'] = 'visible';
            parent.el.style['overflow'] = 'hidden';

            var burst = new mojs.Burst({
                parent  : parent.el,
                count   : 10,
                top     : n.barDom.getBoundingClientRect().height + 75,
                degree  : 90,
                radius  : 75,
                angle   : {[-90]: 40},
                children: {
                    fill     : '#EBD761',
                    delay    : 'stagger(500, -50)',
                    radius   : 'rand(8, 25)',
                    direction: -1,
                    isSwirl  : true
                }
            });

            var fadeBurst = new mojs.Burst({
                parent  : parent.el,
                count   : 2,
                degree  : 0,
                angle   : 75,
                radius  : {0: 100},
                top     : '90%',
                children: {
                    fill     : '#EBD761',
                    pathScale: [.65, 1],
                    radius   : 'rand(12, 15)',
                    direction: [-1, 1],
                    delay    : .8 * 500,
                    isSwirl  : true
                }
            });

            Timeline.add(body, burst, fadeBurst, parent);
            Timeline.play();
        },
        close: function (promise) {
            var n = this;
            new mojs.Html({
                el        : n.barDom,
                x         : {0: 500, delay: 10, duration: 500, easing: 'cubic.out'},
                skewY     : {0: 10, delay: 10, duration: 500, easing: 'cubic.out'},
                isForce3d : true,
                onComplete: function () {
                    promise(function(resolve) {
                        resolve();
                    })
                }
            }).play();
        }
        }
    }).show();    
    
                  
                }
              });
    });
  
</script>


{% if course.is_approved == "3" %}
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                              <div class="ms-2 me-auto">
                                <div class="fw-bold">Config File</div>
                              </div><p class="w-50"><a href="{{ course.get_virtual_network.config_file_url }}">{{ course.get_virtual_network.config_file_url }}</a></p>
                            </li>
                              <li class="list-group-item  justify-content-between align-items-start">
                                <div class="accordion accordion-flush" id="accordionFlushExample">
                                  <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingOne">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                        Approved Details
                                      </button>
                                    </h2>
                                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                      <ul class="list-group list-group-flush">
                                        <li class="list-group-item d-flex justify-content-between align-items-start px-0">
                                          <div class=" me-auto">
                                            <div class="fw-bold">IP Address</div>
                                          </div><p class="w-50 text-end">{{ course.get_virtual_network.ip_address }}</p>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-start px-0">
                                          <div class=" me-auto">
                                            <div class="fw-bold">Network Topology Image</div>
                                          </div><p class="w-50 text-end">
                                            <a
    data-fancybox
    data-type="image"
    href="/media/{{ course.get_virtual_network.topology_image }}"
    >View <i class="fa-regular fa-eye ms-1"></i></a
  >
                                            </p>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-start px-0">
                                          <div class=" me-auto">
                                            <div class="fw-bold">Connection File</div>
                                          </div><p class="w-50 text-end"><a href="{{ course.get_virtual_network.ssh_file.path }}">Download <i class="fa-solid fa-download ms-1"></i></a></p>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-start px-0">
                                          <div class=" me-auto">
                                            <div class="fw-bold">Instructions</div>
                                          </div><p class="w-50 text-end"><a data-bs-toggle="offcanvas" href="#offcanvasExample2" role="button" aria-controls="offcanvasExample2">Read <i class="fa-solid fa-book ms-1"></i></a></p>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                  
                                </div>
                              </li>
                            {% endif %}

{% endcomment %}


{% comment %}
            <div class="row ">
                <div class="col-lg-12">
                <h3>Relevant Paths</h3>
                <p>This module progresses you towards the following Paths</p>
                <!-- Card with an image on left -->
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{% static 'assets/img/cyber_course.png' %}" class="img-fluid rounded-start h-100" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Information Security Foundations</h5>
                  <p class="mt-2 m-0">
                    <span class="badge bg-success ">Easy</span>
                    <span class="badge bg-dark ">170 Sections</span>
                </p>
                    <p class="mt-2 small">
                        Cubes Required: 200
                        </p>
                        <p class="mt-2">Information Security is a field with many specialized and highly technical disciplines. Job roles like Penetration Tester &amp; Information Security Analyst require a solid technical foundational understanding of core IT &amp; Information Security topics. </p>
                </div>
              </div>
            </div>
          </div><!-- End Card with an image on left -->
                
                </div>
            </div>
            {% endcomment %}


            {% comment %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal.min.css" integrity="sha512-UO+dUiFTr6cCaPZKCzXEGhYsuK8DkGAS5iThyMUrtHsg+INCFyRM3GiqJ4rjuvfEyn81XGjpfmjSwwR1dAjAsw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal-default-theme.min.css" integrity="sha512-jRxwiuoe3nt8lMSnOzNEuQ7ckDrLl31dwVYFWS6jklXQ6Nzl7b05rrWF9gjSxgOow5nFerdoN6CBB4gY5m5nDw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<a data-remodal-target="modal">Call the modal with data-remodal-id="modal"</a>
<div class="remodal" data-remodal-id="modal">
  <button data-remodal-action="close" class="remodal-close"></button>
  <h1>Remodal</h1>
  <p>
    Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
  </p>
  <br>
  <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
  <button data-remodal-action="confirm" class="remodal-confirm">OK</button>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal.min.js" integrity="sha512-a/KwXZUMuN0N2aqT/nuvYp6mg1zKg8OfvovbIlh4ByLw+BJ4sDrJwQM/iSOd567gx+yS0pQixA4EnxBlHgrL6A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            {% endcomment %}