{%  extends 'base.html' %}
{% load static %}
{% block title %} Courses {% endblock %}






{% block content %}

<main id="main" class="main">
  <section class="section dashboard">
  <div class="container">
      <div class="pagetitle">
          <h1>Courses</h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#!">Home</a></li>
              <li class="breadcrumb-item active">Courses</li>
            </ol>
          </nav>
        </div><!-- End Page Title ---->

        <div class="row">
          {% for course in all_courses %}
          <div class="col-12 col-md-4 col-lg-4">
            <div class="card shadow-none bg-transparent ">
                <div class="card-header p-0 border-0 ">
                    <img class="card-img-top" src="{% static 'assets/img/Ad.png' %}" alt="">
                </div>
                <div class="card-body p-3 bg-white">
                    <h5><a href="{% url 'instructor-courses-details-url' course.id %}">{{ course.name }}</a></h5>
                    <p>
                        {{ course.description|safe|truncatechars_html:150 }}
                    </p>
                </div>
                <div class="card-footer border-0">
                  {% if course.is_approved == "Pending" %}
                    <span class="badge bg-warning">Pending</span>
                  {% elif course.is_approved == "Approved" %}
                    <span class="badge bg-success">Approved</span>
                  {% elif course.is_approved == "Rejected"  %}
                    <span class="badge bg-danger">Rejected</span>
                  {% endif %}
                </div>
            </div>
    </div>
          {% endfor %}
        </div> 




{% endblock %}


<main id="main" class="main">
  <div class="pagetitle">
      <h1>Courses</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#!">Home</a></li>
          <li class="breadcrumb-item active">Courses</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section dashboard">
      <div class="col-12">
          <div class="card-body w-100 p-0 ">
              <div class="row  justify-content-center mb-5">
                  <div class="col-12">
                      <div id="wrapper" class="w-100 "></div>
                  </div>
              </div>
          </div>
      </div>
    </section>
</main>


<!-- Table JS API-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gridjs/5.0.2/gridjs.umd.js" integrity="sha512-Tv3f/y9wnNx+aH5FkA/kqiHSTIz6F8VZA/thVKMzzrCHzzpsBhxmXcHdrgzDkGv9AV4yKh7F6m8PJV/wUjRkyQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- Event Details Table Script -->

<script>
    var courses_data = [];
    var course_status = "";
</script>

{% for course in all_courses %}
{% if course.is_approved == "Pending" %}
  <script>
    course_status = gridjs.html(`<span class="badge bg-warning">Pending</span>`);
    courses_data.push(
        [
            "{{ course.name }}",
            "{{ course.start_time }}",
            "{{ course.end_time }}",
            "{{ course.created_timestamp }}",
            course_status
        ]
    );
  </script>
{% elif course.is_approved == "Approved" %}
  <script>
    course_status = gridjs.html(`<span class="badge bg-success">Approved</span>`);
    courses_data.push(
        [
            "{{ course.name }}",
            "{{ course.start_time }}",
            "{{ course.end_time }}",
            "{{ course.created_timestamp }}",
            course_status
        ]
    );
  </script>
{% elif course.is_approved == "Rejected" %}
  <script>
    course_status = gridjs.html(`<span class="badge bg-danger">Rejected</span>`);
    courses_data.push(
        [
            "{{ course.name }}",
            "{{ course.start_time }}",
            "{{ course.end_time }}",
            "{{ course.created_timestamp }}",
            course_status
        ]
    );
  </script>
{% else %}
<script>
  course_status = gridjs.html(`<span class="badge bg-danger">Rejected</span>`);
  courses_data.push(
      [
          "{{ course.name }}",
          "{{ course.start_time }}",
          "{{ course.end_time }}",
          "{{ course.created_timestamp }}",
          course_status
      ]
  );
</script>
{% endif %}

{% endfor %}

<script type="text/javascript">
    $(function(){
        new gridjs.Grid({
  columns: ["Course Name", "Start Time", "End Time", "Created Timestamp" , "status"],
  data: 
    courses_data,
  style: { 
    table: { 
      'white-space': 'nowrap'
    }
  },
  fixedHeader: true,
  sort: false,
  resizable: false,
  pagination: {
    enabled: false,
  },
  search: {
    enabled: false
  },
  className: {
    table: 'shadow-lg'
  }
}).render(document.getElementById("wrapper"));
    
    })
</script>
