{%  extends 'base.html' %}
{% load static %}
{% block title %} Courses {% endblock %}






{% block content %}

<main id="main" class="main">
  <section class="section dashboard">
  <div class="container">
      <div class="pagetitle">
          <h1>Courses</h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'instructor-dasboard-url' %}">Dashboard</a></li>
              <li class="breadcrumb-item active">Courses</li>
            </ol>
          </nav>
        </div><!-- End Page Title ---->

        <div class="row">
          {% for course in all_courses %}
            {% include 'master_app/course_card.html' with cURL=course.get_instructor_url %}
          {% endfor %}
        </div> 

{% endblock %}

{% block extra_js %}

<script>
  $(".ql-editor").attr('contenteditable', false);
  $(".ql-clipboard, .ql-tooltip").hide();
</script>
{% endblock %}