{%  extends 'base.html' %}
{% load static %}
{% block title %} Add New Course {% endblock %}


{% block extra_css %}

<link rel="stylesheet" href="{% static 'assets/vendor/flatpickr/flatpickr.min.css' %}">
<link href="{% static 'assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
<link href="{% static 'assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
<script src="{% static 'assets/vendor/quill/quill.min.js' %}"></script>
<style>
  .dashboard .news h4 , .dashboard .news p{
    margin-left: 0px;
}

  .ql-editor {
 overflow-y: scroll;
 min-height: 150px;
 }
</style>

{% endblock extra_css %}



{% block content %}




<main id="main" class="main ">
    


    <section class="section dashboard">
      
      <div class="container">

        
        <div class="row justify-content-center my-5">
          
            <div class="col-12 col-md-6 ">
              <div class="card " >
              
                <div class="card-body px-5 py-3">
                  <h5 class="card-title ">Add a new course</h5>
                  {% include 'errors.html' %}
                  <form class="row g-3 needs-validation" novalidate  action="{% url 'course-new-url' %}"  id="identifier"  method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <!-- Course Name -->
                    <div class="col-md-12 mb-3">
                      <div class="form-floating">
                        <input type="text" name="name" class="form-control" id="id_name" placeholder="Course Name" autofocus autocapitalize="none" autocomplete="off" maxlength="255" required autofocus="on" tabindex="1" {% if form.name.value %} value="{{ form.name.value }}" {% endif %}>
                        <label for="id_name">Course Name</label>
                        <div class="invalid-feedback">
                          Please choose a valid course name.
                        </div>
                      </div>
                    </div>

                    <!-- Course Type -->
                    <div class="mb-3">
                      <label for="formType" class="form-label">Course Type</label>
                      <select class="form-select" aria-label="Default select example" id="id_course_type" name="course_type">
                        <option selected value="1">ATTACK</option>
                        
                      </select>
                      <div class="invalid-feedback">
                        Please choose a valid type.
                      </div>
                    </div>


                    <!-- Course Starting Date -->
                    <div class="col-md-12 mb-3">
                      <div class="form-floating">
                        <input type="text" name="start_time" class="form-control datepicker" id="id_start_time" placeholder="Course Start Date" data-provide="datepicker" autofocus autocapitalize="none" autocomplete="off" maxlength="255" required autofocus="on" tabindex="2"  {% if form.start_time.value %} value="{{ form.start_time.value }}" {% endif %}>
                        <label for="id_start_time">Course Start Date</label>
                        <div class="invalid-feedback">
                          Please choose a valid start date.
                        </div>
                      </div>
                    </div>
                    

                    <!-- Course Ending Date -->
                    <div class="col-md-12 mb-3">
                      <div class="form-floating">
                        <input type="text" name="end_time" class="form-control datepicker" id="id_end_time" placeholder="Course End Date" data-provide="datepicker" autofocus autocapitalize="none" autocomplete="off" maxlength="255" required autofocus="on" tabindex="3" {% if form.end_time.value %} value="{{ form.end_time.value }}" {% endif %}>
                        <label for="id_end_time">Course End Date</label>
                        <div class="invalid-feedback">
                          Please choose a valid end date.
                        </div>
                      </div>
                    </div>

                    <div class="quill-editor-full mb-3" >
                      {% if form.description.value %} {{ form.description.value|safe }} {% endif %}
                    </div>

                    <textarea  style="display:none" id="id_description" name="description"></textarea>


                    <div class="mb-3">
                      <label for="formFile" class="form-label">Course Image</label>
                      <input class="form-control" type="file" id="formFile" name="course_img" id="id_course_img" required {% if form.course_img.value %} value="{{ form.course_img.value }}" {% endif %}>
                      <div class="invalid-feedback" >
                        Please choose a course image.
                      </div>
                    </div>

                    

                    
                      <div class="text-end">
                        <a href="{% url 'courses-all-url' %}" type="button" class="btn btn-danger "  ><i class="fa-solid fa-chevron-left me-2"></i> Back to Courses</a>
                      <button type="submit" class="btn btn-primary "  >Create <i class="fa-solid fa-chevron-right ms-2"></i></button>
                      </div>
                    
                      
                    

                  </form>
                </div>
              </div> 
            </div>
        </div>
      </div>
    </section>  
</main>    

{% endblock %}


{% block extra_js %}
<script src="{% static 'assets/vendor/flatpickr/flatpickr.min.js' %}" ></script>
<script>
  $(".datepicker").flatpickr(
    {
    enableTime: true,
    
    dateFormat: "Y-m-d H:i",
}
  );

  $(function(){
    

$("#identifier").on("submit",function(event) {
  $("#id_description").val($(".ql-editor").html());
})
  });
</script>


{% endblock extra_js %}