{%  extends 'base.html' %}
{% load static %}
{% block title %} Students {% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'assets/vendor/grid/mermaid.min.css' %}"  />
{% endblock extra_css %}





{% block content %}
<main id="main" class="main">
    
      <section class="section dashboard">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="pagetitle">
                <h1>Students</h1>
                <nav>
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'instructor-dasboard-url' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">Students</li>
                  </ol>
                  
                </nav>
                
              </div><!-- End Page Title -->
            </div>
            <div class="col-12">
              <div class="card-body w-100 p-0 ">
                  <div class="row  justify-content-center mb-5">
                      <div class="col-12">
                          <div id="wrapper" class="w-100 "></div>
                      </div>
                  </div>
              </div>
          </div>
          </div>
        </div>
        
      </section>
</main>
{% endblock %}

{% block extra_js %}

<script src="{% static 'assets/vendor/grid/gridjs.umd.js' %}" ></script>

<script>
    var students_data = [];
</script>



    {% for j in all_students %}
        <script>
            students_data.push(
                [
                    "{{ j.email }}",
                ]
            )
        </script>
    {% endfor %}


<script type="text/javascript">
    $(function(){
        new gridjs.Grid({
  columns: [ "Student Email" ],
  data: 
    students_data,
  style: { 
    table: { 
      'white-space': 'nowrap'
    }
  },
  fixedHeader: true,
  sort: false,
  resizable: false,
  pagination: {
    enabled: false,
  },
  search: {
    enabled: false
  },
  className: {
    table: 'shadow-lg'
  }
}).render(document.getElementById("wrapper"));
    
    })
</script>
{% endblock extra_js %}
