{%  extends 'base.html' %}
{% load static %}
{% block title %} Students {% endblock %}


{% block extra_css %}
<!-- Table CSS API-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridjs/5.0.2/theme/mermaid.min.css" integrity="sha512-QT3siPsD/eTF0b7f9Vq2eHf456XGoqXaiwmqpuIoYwRKnLgpnyntOlebCf/6WtXoXRZV7LupbEdvbgV2Lh0zmA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


{% endblock extra_css %}





{% block content %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Students</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#!">Home</a></li>
            <li class="breadcrumb-item active">Students</li>
          </ol>
          
        </nav>
        
      </div><!-- End Page Title -->
      <section class="section dashboard">
        <div class="col-12">
            <div class="card-body w-100 p-0 ">
                <div class="row  justify-content-center mb-5">
                    <div class="col-12">
                        <div id="wrapper" class="w-100 "></div>
                    </div>
                </div>
            </div>
        </div>
      </section>
</main>
{% endblock %}

{% block extra_js %}








<!-- Table JS API-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gridjs/5.0.2/gridjs.umd.js" integrity="sha512-Tv3f/y9wnNx+aH5FkA/kqiHSTIz6F8VZA/thVKMzzrCHzzpsBhxmXcHdrgzDkGv9AV4yKh7F6m8PJV/wUjRkyQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- Event Details Table Script -->

<script>
    var students_data = [];
</script>


{% for student in all_students %}
    {% for j in student %}
        <script>
            students_data.push(
                [
                    "{{ j.course.name }}",
                    "{{ j.student.email }}",
                    "{{ j.created_timestamp }}",
                ]
            )
        </script>
    {% endfor %}
{% endfor %}

<script type="text/javascript">
    $(function(){
        new gridjs.Grid({
  columns: ["Course Name" ,  "Student Email" , "Student Registered Timestamp"],
  data: 
    students_data,
  style: { 
    table: { 
      'white-space': 'nowrap'
    }
  },
  fixedHeader: true,
  sort: false,
  resizable: false,
  pagination: {
    enabled: false,
  },
  search: {
    enabled: false
  },
  className: {
    table: 'shadow-lg'
  }
}).render(document.getElementById("wrapper"));
    
    })
</script>
{% endblock extra_js %}
