{%  extends 'base.html' %}
{% load static %}
{% block title %} Create Student {% endblock %}
{% block extra_css %}
 

{% endblock %}
{% block content %}
<main id="main" class="main">
    <section class="section dashboard">
        <div class="container">
            <div class="row justify-content-center my-5">
                
                <div class="col-12 col-md-6 ">
                    <div class="card " >
                        <div class="card-body px-5 py-3">
                            <h5 class="card-title ">Add a new student</h5>
                            {% include 'errors.html' %}
                            <form class="row g-3 needs-validation" novalidate  action="{% url 'instructor-student-create-url' %}"  id="identifier"  method="POST">
                                {% csrf_token %}
                                
                                <!-- Email Name -->
                    <div class="col-md-12 mb-3">
                        <div class="form-floating">
                          <input type="email" name="email" class="form-control" id="id_email" placeholder="Email Address" autofocus autocapitalize="none" autocomplete="off" maxlength="255" required autofocus="on" >
                          <label for="id_email">Email Address</label>
                          <div class="invalid-feedback">
                            Please choose a valid email.
                          </div>
                        </div>
                      </div>

                      <!-- username -->
                      <div class="col-md-12 mb-3">
                        <div class="form-floating">
                          <input type="text" name="username" class="form-control" id="id_username" placeholder="Username"  autocapitalize="none" autocomplete="off" maxlength="255" required  >
                          <label for="id_username">Username</label>
                          <div class="invalid-feedback">
                            Please choose a valid username.
                          </div>
                        </div>
                      </div>

                      <!-- password -->
                      <div class="col-md-12 mb-3">
                        <div class="form-floating">
                          <input type="password" name="password" class="form-control" id="id_password" placeholder="Password"  autocapitalize="none" autocomplete="off" maxlength="255" required >
                          <label for="id_password">Password</label>
                          <div class="invalid-feedback">
                            Please choose a valid password.
                          </div>
                        </div>
                      </div>

                      <div class="col-md-12 my-1">
                        <span class="helptext text-muted">
                            
              <ul class="list-group list-group-flush">
                <li class="list-group-item border-0 d-flex px-0 "><div><i class="fa-solid fa-circle-check me-2"></i></div> Your password can't be too similar to your other personal information.</li>
                <li class="list-group-item border-0 d-flex px-0 py-0"><div><i class="fa-solid fa-circle-check me-2"></i></div> Your password must contain at least 8 characters.</li>
                <li class="list-group-item border-0 d-flex px-0 "><div><i class="fa-solid fa-circle-check me-2"></i></div> Your password can’t be a commonly used password.</li>
                <li class="list-group-item border-0 d-flex px-0 py-0"><div><i class="fa-solid fa-circle-check me-2"></i></div> Your password can’t be entirely numeric.</li>
                
              </ul>
                      </div>


                        <!-- Repeat Password -->
                        <div class="col-md-12 mb-3">
                            <div class="form-floating">
                            <input type="password" name="password2" class="form-control" id="id_password2" placeholder="Repeat Password"  autocapitalize="none" autocomplete="off" maxlength="255" required >
                            <label for="id_password">Repeat Passowrd</label>
                            <div class="invalid-feedback">
                                Please choose a valid password.
                            </div>
                            </div>
                        </div>

                        <div class="col-md-12 my-1">
                            <span class="helptext text-muted">
                                
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item border-0 d-flex px-0 py-0"><div><i class="fa-solid fa-circle-check me-2"></i></div> Both Passwords should be same.</li>
                    
                    
                  </ul>
                          </div>



                          <div class="text-end">
                            <a href="{% url 'students-all-url' %}" type="button" class="btn btn-danger "  ><i class="fa-solid fa-chevron-left me-2"></i> Back to Students</a>
                          <button type="submit" class="btn btn-primary "  >Create <i class="fa-solid fa-chevron-right ms-2"></i></button>
                          </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
