{%  extends 'base.html' %}
{% load static %}
{% block title %} Virutal Networks {% endblock %}

{% block extra_css %}
<style>
.nav-tabs-bordered .nav-link.active{
    background-color: transparent;
}
</style>

{% endblock %}


{% block content %}

<main id="main" class="main">
    <section class="section dashboard">
        <div class="container">

            <div class="pagetitle">
                <h1>Virtual Networks</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#!">Home</a></li>
                        <li class="breadcrumb-item active">Virtual Networks</li>
                    </ol>
                </nav>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card shadow-none bg-transparent p-3">
                        <div class="card-body">
                            <ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                  <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-home" type="button" role="tab" aria-controls="home" aria-selected="true">Active Networks</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                  <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Retired Networks</button>
                                </li>
                                
                              </ul>
                              <div class="tab-content pt-2" id="borderedTabContent">
                                <div class="tab-pane fade show active" id="bordered-home" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="card shadow-none bg-transparent mt-3">
                                        <div class="card-body px-0">
                            
                                          <!-- Default Table -->
                                          <table class="table">
                                            <thead class="table-primary ">
                                              <tr >
                                                <th scope="col" class="p-3">Network</th>
                                                <th scope="col" class="p-3">Rating</th>
                                                
                                                <th scope="col"></th>
                                                
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr >
                                                <td class="py-3">
                                                    <div class="d-flex align-items-center">
                                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                          <a href="{% url 'student-machine-detail-url' %}">
                                                            <img src="{% static 'assets/img/caac8772de14a769c0bfe95756bceebe.png' %}" width="50" alt="">
                                                          </a>
                                                        </div>
                                                        <div class="ps-3">
                                                          <h6 class="mb-0">Mentor</h6>
                                                          <span class=" small pt-1 fw-bold">Medium</span>
                                    
                                                        </div>
                                                      </div>
                                                </td>
                                                <td class="align-middle"> 
                                                    <i class="fas fa-star circle-icon fs-5 me-2"></i> 2.8
                                                    </td>
                                                
                                                
                                                
                                                <td class="align-middle"><a data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample"><i class="fas fa-chevron-right fs-5"></i></a></td>
                                              </tr>
                                              <tr >
                                                <td class="py-3">
                                                    <div class="d-flex align-items-center">
                                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                          <a href="{% url 'student-machine-detail-url' %}">
                                                            <img src="{% static 'assets/img/caac8772de14a769c0bfe95756bceebe.png' %}" width="50" alt="">
                                                          </a>
                                                        </div>
                                                        <div class="ps-3">
                                                          <h6 class="mb-0">Mentor</h6>
                                                          <span class=" small pt-1 fw-bold">Medium</span>
                                    
                                                        </div>
                                                      </div>
                                                </td>
                                                <td class="align-middle"> 
                                                    <i class="fas fa-star circle-icon fs-5 me-2"></i> 2.8
                                                    </td>
                                                
                                                
                                                
                                                <td class="align-middle"><a data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample"><i class="fas fa-chevron-right fs-5"></i></a></td>
                                              </tr>
                                              
                                            </tbody>
                                          </table>
                                          <!-- End Default Table Example -->
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade " id="bordered-profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="card shadow-none bg-transparent mt-3">
                                        <div class="card-body px-0">
                            
                                          <!-- Default Table -->
                                          <table class="table">
                                            <thead class="table-primary ">
                                              <tr >
                                                <th scope="col" class="p-3">Network</th>
                                                <th scope="col" class="p-3">Rating</th>
                                                
                                                <th scope="col"></th>
                                                
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr >
                                                <td class="py-3">
                                                    <div class="d-flex align-items-center">
                                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                          <a href="{% url 'student-machine-detail-url' %}">
                                                            <img src="{% static 'assets/img/caac8772de14a769c0bfe95756bceebe.png' %}" width="50" alt="">
                                                          </a>
                                                        </div>
                                                        <div class="ps-3">
                                                          <h6 class="mb-0">Mentor</h6>
                                                          <span class=" small pt-1 fw-bold">Medium</span>
                                    
                                                        </div>
                                                      </div>
                                                </td>
                                                <td class="align-middle"> 
                                                    <i class="fas fa-star circle-icon fs-5 me-2"></i> 2.8
                                                    </td>
                                                
                                                
                                                
                                                <td class="align-middle"><a data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample"><i class="fas fa-chevron-right fs-5"></i></a></td>
                                              </tr>
                                              <tr >
                                                <td class="py-3">
                                                    <div class="d-flex align-items-center">
                                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                          <a href="{% url 'student-machine-detail-url' %}">
                                                            <img src="{% static 'assets/img/caac8772de14a769c0bfe95756bceebe.png' %}" width="50" alt="">
                                                          </a>
                                                        </div>
                                                        <div class="ps-3">
                                                          <h6 class="mb-0">Mentor</h6>
                                                          <span class=" small pt-1 fw-bold">Medium</span>
                                    
                                                        </div>
                                                      </div>
                                                </td>
                                                <td class="align-middle"> 
                                                    <i class="fas fa-star circle-icon fs-5 me-2"></i> 2.8
                                                    </td>
                                                
                                                
                                                
                                                <td class="align-middle"><a data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample"><i class="fas fa-chevron-right fs-5"></i></a></td>
                                              </tr>
                                              
                                            </tbody>
                                          </table>
                                          <!-- End Default Table Example -->
                                        </div>
                                    </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}