<style>
   #modalEditor  .ql-editor {
overflow-y: scroll;
min-height: 150px;
}
</style>

<div class="modal fade" id="virutal_network_modal" tabindex="-1" data-url="{% url 'admin-fetch-network-images-url' %}">
    <div class="modal-dialog modal-dialog-scrollable ">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fw-bolder fs-4" style="color:#012970;">Virtual Network Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form class="row g-3 needs-validation" novalidate  
                        action="{% url 'instructor-virutal-network-create-url' %}"  id="identifier"   method="POST">
                            {% csrf_token %}



 <!-- Virtual Network Name -->
 <div class="col-12   ">
    <div class="form-floating">
      <input type="text" name="name" class="form-control" id="id_name" placeholder="Virutal Network Name"  autocapitalize="none" autocomplete="off" maxlength="100" required >
      <label for="id_name">Virutal Network Name</label>
      <div class="invalid-feedback">
        Please choose a valid network name.
      </div>
    </div>
  </div>

  <!-- Scenarios -->
<div class="col-12  mb-3">
  <label for="id_scenarios" class="form-label">Scenarios </label>
  <select class="form-select" id="id_scenarios" required="" name="scenarios">
      
  </select>
</div>

   

<!-- Course Name -->
<div class="col-12 col-md-6 mb-3 d-none">
    <label for="id_course" class="form-label">Course </label>
    <select class="form-select" id="id_course" required="" name="course">
      <option value="{{ course.id }}" selected="">{{ course.name }}</option>
    </select>
  </div>

<!-- Operating System -->
<div class="col-12 col-md-6  mb-3 ">
  <div class="form-floating">
    <input type="text" name="operating_system" class="form-control" id="id_operating_system" placeholder="Operating System"  autocapitalize="none" autocomplete="off" maxlength="100" required readonly >
    <label for="id_operating_system">Operating System</label>
    <div class="invalid-feedback">
      Please choose a valid Operating System.
    </div>
  </div>
  </div>
 

<!-- Size -->
<div class="col-12 col-md-6  mb-3 ">
  <div class="form-floating">
    <input type="text" name="size" class="form-control" id="id_size" placeholder="Size"  autocapitalize="none" autocomplete="off" maxlength="100" required readonly >
    <label for="id_size">Size</label>
    <div class="invalid-feedback">
      Please choose a valid Size.
    </div>
  </div>
  </div>

  <!-- Status -->
<div class="col-12 col-md-6  mb-3 ">
  <div class="form-floating">
    <input type="text" name="status" class="form-control" id="id_status" placeholder="Status"  autocapitalize="none" autocomplete="off" maxlength="100" required readonly >
    <label for="id_status">Status</label>
    <div class="invalid-feedback">
      Please choose a valid status.
    </div>
  </div>
  </div>


    <!-- Image State -->
<div class="col-12 col-md-6  mb-3 ">
  <div class="form-floating">
    <input type="text" name="state" class="form-control" id="id_state" placeholder="State"  autocapitalize="none" autocomplete="off" maxlength="100" required readonly >
    <label for="id_state">State</label>
    <div class="invalid-feedback">
      Please choose a valid state.
    </div>
  </div>
  </div>


    <!-- Min Ram -->
    <div class="col-12 col-md-6  mb-3 ">
      <div class="form-floating">
        <input type="text" name="min_ram" class="form-control" id="id_min_ram" placeholder="Min Ram"  autocapitalize="none" autocomplete="off" maxlength="100" required readonly >
        <label for="id_min_ram">Min Ram</label>
        <div class="invalid-feedback">
          Please choose a valid min ram.
        </div>
      </div>
      </div>

      <!-- Min Disk -->
    <div class="col-12 col-md-6  mb-3 ">
      <div class="form-floating">
        <input type="text" name="min_disk" class="form-control" id="id_min_disk" placeholder="Min Disk"  autocapitalize="none" autocomplete="off" maxlength="100" required readonly >
        <label for="id_min_disk">Min Disk</label>
        <div class="invalid-feedback">
          Please choose a valid min disk.
        </div>
      </div>
      </div>



<!-- Rating -->
<div class="col-12 col-md-6 mb-3 d-none">
  <label for="id_rating" class="form-label">Rating </label>
  <select class="form-select" id="id_rating" required="" name="rating">
      {% for rate in form.rating  %}
          {{ rate }}
      {% endfor %}
  </select>
</div>


<!-- ImageRef -->
<input type="text" name="imageRef" class="form-control" id="id_imageRef"  hidden readonly >


  <!-- Description -->
  <div class="quill-editor-full mb-3" id="modalEditor">
                      
  </div>

  <textarea  style="display:none" id="id_description" name="description"></textarea>


  






                            
<input type="hidden" name="next" value="{{ request.path }}">

<div class="text-end">
  <button type="button" class="btn btn-danger w-25" data-bs-dismiss="modal" aria-label="Close"  > Cancel</button>
<button type="submit" class="btn btn-primary w-25"  >Request</button>
</div>

                            
                        </form>
        </div>
      </div>
    </div>
  </div>

